
// -------------------------------------
// Header: Design One
// -------------------------------------



// Row Styling
// -----------------------------


.row__hero--01 {


    // Row Height
    &.row,
    .row__container {
        min-height: $row__height--default;
    }


    // Row Padding
    &.row {
        background-size: cover;
        padding: $row__padding--none;
    }


    // Row Container Width
    .row__container {
        width: $row__width--full;
    }
}




// Widget Styling
// -----------------------------


.row__hero--01 {


    [data-widget-type="image"] {
        margin: 0 0 60px 100px;
    }


    .imagewidget__image {
        padding: 80px 0 80px 120px;
    }
}
