
<div class="bk-row  row  row__hero  row__hero--01  row__overlay  bg--cover  dark">
    <div class="bk-row__container  row__container">

        <div class="row__column  row__column--full  align--middle-center">
            {{widget('logo', 'sitelogo', {
                'defaultlogo': asset("templates/barber-logo.png")
            })|raw}}
        </div>

    </div>
</div>
