
// -------------------------------------
// Header: Design One
// -------------------------------------



// Row Styling
// -----------------------------


.theme-1 {
    .row__hero--01 {


        // Row Height
        &.row,
        .row__container {
            min-height: $row__height--medium;
        }


        // Row Padding
        &.row {
            //background: $color__row--background;
            background-size: cover;
            padding: $row__padding--none;
        }


        // Row Container Width
        .row__container {
            width: $row__width--full;
        }


        &.row__overlay:after {
            background: rgba(0,0,0, 0.65);
        }
    }
}


.theme-2 {
    .row__hero--01 {


        // Row Height
        &.row,
        .row__container {
            min-height: $row__height--medium;
        }


        // Row Padding
        &.row {
            background-size: cover;
            padding: $row__padding--none;
        }


        // Row Container Width
        .row__container {
            width: $row__width--full;
        }


        &.row__overlay:after {
            background: rgba(0,0,0, 0.25);
        }
    }
}



// Widget Styling
// -----------------------------

