
<div class="bk-row  row  row__hero  row__hero--01  row__overlay  bg--cover  light">
    <div class="bk-row__container  row__container">

        <div class="row__column  row__column--full  align--middle-center">

            <div class="widget  widget--compound  widget--compound__navigation">
                {{widget('companyname', 'header-companyname', {"business": "Studio"})|raw}}
                {{widget('extendednavigation', 'navigation', {})|raw}}
            </div>

        </div>


        <div class="row__column  row__column--full  align--middle-center">
            {{widget('image', 'hero-image', {
                'src': asset("templates/bristol-sports.jpg")
            })|raw}}
        </div>

    </div>
</div>
