
// -----------------------------
//  Navigation: Design Two
// -----------------------------



//  Global: Navigation
// --------------------------


[data-widget-type="extendednavigation"] {


    .light & {
        background: color(color-light, $color__navigation--background);
    }


    .accent & {
        background: color(color-accent, $color__navigation--background);
    }


    .dark & {
        background: color(color-dark, $color__navigation--background);
    }
}


// Positions navigation to the right of the feature and vertically center to the page
[data-widget-type="extendednavigation"] {
    overflow-y: scroll;
    pointer-events: all;
    position: fixed;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 0;
    padding: 0 35px;
    z-index: 100;
    height: 0;
    width: 100%;
    @include flex-display;
    @include align-items(center);
    @include justify-content(flex-start);
    @include transition(top 0.5s ease-in-out);
    z-index: 9999;


    // @media #{$mobile-650px} {
    //     top: -200%;
    // }
}


// When navigation is open bring into page view
.navigation-open & [data-widget-type="extendednavigation"] {
    top: 0;
    height: 100%;


    &:after {
        opacity: 1;
    }


    .extendednavigation__navigation-item {
        opacity: 1;
    }
}


// When navigation is open add styling to header
.navigation-open & .template-header {
    padding-left: 70px;
}


.extendednavigation {
    margin: auto 0;
    width: 100%;


    &__navigation-body {
        margin: 0 auto;
        max-width: 1050px;
    }


    &__navigation-item {
        display: block;
        opacity: 0;
        @include transition(opacity 0.5s ease);
        will-transform: transition;

        &:first-child {
            transition-delay: 0.15s;
        }

        &:nth-child(n+1) {
            transition-delay: 0.25s;
        }

        &:nth-child(n+2) {
            transition-delay: 0.35s;
        }

        &:nth-child(n+3) {
            transition-delay: 0.45s;
        }

        &:nth-child(n+4) {
            transition-delay: 0.65s;
        }

        &:nth-child(n+5) {
            transition-delay: 0.75s;
        }

        &:nth-child(n+6) {
            transition-delay: 0.85s;
        }

        &:nth-child(n+7) {
            transition-delay: 0.95s;
        }

        &:nth-child(n+8) {
            transition-delay: 1.05s;
        }

        &:nth-child(n+9) {
            transition-delay: 1.15s;
        }

        &:nth-child(n+10) {
            transition-delay: 1.25s;
        }

        &:nth-child(n+11) {
            transition-delay: 1.35s;
        }

        &:nth-child(n+12) {
            transition-delay: 1.45s;
        }

        &:nth-child(n+13) {
            transition-delay: 1.55s;
        }

        &:nth-child(n+14) {
            transition-delay: 1.65s;
        }

        &:nth-child(n+15) {
            transition-delay: 1.75s;
        }


        .item-name {
            @include transition(all .5s ease-in-out);

            // @media #{$tablet-860px} {
            //     font-size: bkscale($font__navigation--font-size, 0.9);
            //     line-height: bkscale($font__navigation--line-height, 0.8);
            // }

            // @media #{$tablet-860px} {
            //     font-size: bkscale($font__navigation--font-size, 0.75);
            //     line-height: bkscale($font__navigation--line-height, 0.65);
            // }
        }
    }
}


.navigation-toggle {
    display: none;
    visibility: hidden;
}




// -----------------------------
//  Custom Navigation Icon
// -----------------------------


.navigation-open & .navigation-icon--container {
    position: absolute;
    right: 0;
}


.navigation-icon--container {
    position: relative;
    z-index: 10001;


    input {
        display: none;
    }


    label {
        position: relative;
        width: 35px;
        height: 36px;
        display: block;
        cursor: pointer;
        background: transparent;
    }


    // Exit Icon
    label:before,
    input:checked + label:before {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: 0;
        width: 35px;
        height: 2px;
        @include border-radius(4px);

        // @media #{$mobile-650px} {
        //     width: 30px;
        // }
    }


    // Animation Burger
    label:before {
        -webkit-animation: animationOneReverse 1s ease forwards;
        animation: animationOneReverse 1s ease forwards;
    }


    // Animation Close
    input:checked + label:before {
        -webkit-animation: animationOne 1s ease forwards;
        animation: animationOne 1s ease forwards;
    }


    // Exit Icon
    label:after,
    input:checked + label:after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: 0;
        width: 35px;
        height: 2px;
        @include border-radius(4px);

        // @media #{$mobile-650px} {
        //     width: 30px;
        // }
    }


    // Animation Burger
    label:after {
        -webkit-animation: animationTwoReverse 1s ease forwards;
        animation: animationTwoReverse 1s ease forwards;
    }


    // Animation Close
    input:checked + label:after {
        -webkit-animation: animationTwo 1s ease forwards;
        animation: animationTwo 1s ease forwards;
    }


    // Burger Icon (Middle)
    label .navigation-icon:before {
        content: '';
        position: absolute;
        top: 8px;
        width: 35px;
        height: 2px;
        border-radius: 2px;
        -webkit-animation: animationBurgerTopReverse 1s ease forwards;
        animation: animationBurgerTopReverse 1s ease forwards;


        // @media #{$mobile-650px} {
        //     top: 9px;
        //     width: 30px;
        // }
    }


    // Animation
    input:checked + label .navigation-icon:before {
        -webkit-animation: animationBurgerTop 1s ease forwards;
        animation: animationBurgerTop 1s ease forwards;
    }


    // Burger Icon (Close)
    label .navigation-icon:after {
        content: '';
        position: absolute;
        bottom: 6px;
        width: 35px;
        height: 2px;
        border-radius: 2px;
        -webkit-animation: animationBurgerBottomReverse 1s ease forwards;
        animation: animationBurgerBottomReverse 1s ease forwards;


        // @media #{$mobile-650px} {
        //     bottom: 7px;
        //     width: 30px;
        // }
    }


    // Animation
    input:checked + label .navigation-icon:after {
        -webkit-animation: animationBurgerBottom 1s ease forwards;
        animation: animationBurgerBottom 1s ease forwards;
    }

}




// Animation Keyframes
// --------------------------


@-webkit-keyframes animationOneReverse {
    0% { -webkit-transform: rotate(315deg); }
    25% { -webkit-transform: rotate(360deg); }
    50%, 100% { -webkit-transform: rotate(0deg); }
}

@keyframes animationOneReverse {
    0% { transform: rotate(315deg); }
    25% { transform: rotate(360deg); }
    50%, 100% { transform: rotate(0deg); }
}


@-webkit-keyframes animationOne {
    0%, 50% { -webkit-transform: rotate(0deg); }
    75% { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(315deg); }
}

@keyframes animationOne {
    0%, 50% { transform: rotate(0deg); }
    75% { transform: rotate(360deg); }
    100% { transform: rotate(315deg); }
}


@-webkit-keyframes animationTwoReverse {
    0% { -webkit-transform: rotate(405deg); }
    25% { -webkit-transform: rotate(450deg); }
    50%, 100% { -webkit-transform: rotate(0deg); }
}

@keyframes animationTwoReverse {
    0% { transform: rotate(405deg); }
    25% { transform: rotate(450deg); }
    50%, 100% { transform: rotate(0deg); }
}


@-webkit-keyframes animationTwo {
    0%, 50% { -webkit-transform: rotate(0deg); }
    75% { -webkit-transform: rotate(450deg); }
    100% { -webkit-transform: rotate(405deg); }
}

@keyframes animationTwo {
    0%, 50% { transform: rotate(0deg); }
    75% { transform: rotate(450deg); }
    100% { transform: rotate(405deg); }
}


@-webkit-keyframes animationBurgerTopReverse {
    0%, 50% { -webkit-transform: translateY(12px); opacity: 0; }
    51% { -webkit-transform: translateY(12px); opacity: 1; }
    100% { -webkit-transform: translateY(0px); opacity: 1; }
}

@keyframes animationBurgerTopReverse {
    0%, 50% { transform: translateY(12px); opacity: 0; }
    51% { transform: translateY(12px); opacity: 1; }
    100% { transform: translateY(0px); opacity: 1; }
}


@-webkit-keyframes animationBurgerTop {
    0% { -webkit-transform: translateY(0px); opacity: 1; }
    50% { -webkit-transform: translateY(12px); opacity: 1; }
    51%, 100% { -webkit-transform: translateY(12px); opacity: 0; }
}

@keyframes animationBurgerTop {
    0% { transform: translateY(0px); opacity: 1; }
    50% { transform: translateY(12px); opacity: 1; }
    51%, 100% { transform: translateY(12px); opacity: 0; }
}


@-webkit-keyframes animationBurgerBottomReverse {
    0%, 50% { -webkit-transform: translateY(-12px); opacity: 0; }
    51% { -webkit-transform: translateY(-12px); opacity: 1; }
    100% { -webkit-transform: translateY(0px); opacity: 1; }
}

@keyframes animationBurgerBottomReverse {
    0%, 50% { transform: translateY(-12px); opacity: 0; }
    51% { transform: translateY(-12px); opacity: 1; }
    100% { transform: translateY(0px); opacity: 1; }
}


@-webkit-keyframes animationBurgerBottom {
    0% { -webkit-transform: translateY(0px); opacity: 1; }
    50% { -webkit-transform: translateY(-12px); opacity: 1; }
    51%, 100% { -webkit-transform: translateY(-12px); opacity: 0; }
}

@keyframes animationBurgerBottom {
    0% { transform: translateY(0px); opacity: 1; }
    50% { transform: translateY(-12px); opacity: 1; }
    51%, 100% { transform: translateY(-12px); opacity: 0; }
}