
// -------------------------
//  Variables: Buttons
// -------------------------




//  Font Properties
// -----------------------------


$font__button--font-family: Helvetica !default;
$font__button--font-size: 16px !default;
$font__button--font-weight: 400 !default;
$font__button--letter-spacing: 0 !default;
$font__button--line-height: 1 !default;
$font__button--text-transform: none !default;


$font__telephone--font-family: Helvetica !default;
$font__telephone--font-size: 16px !default;
$font__telephone--font-weight: 400 !default;
$font__telephone--letter-spacing: 0 !default;
$font__telephone--line-height: 1 !default;
$font__telephone--text-transform: none !default;




//  Colour Properties
// -----------------------------

$color__button--background: $color--accent !default;
$color__button--background--hover: $color--accent !default;
$color__button--text: $color--darkest !default;
$color__button--text--hover: $color--darkest !default;



$color__telephone--background: $color--darkest !default;
$color__telephone--text: $color--darkest !default;
$color__telephone--text--hover: $color--darkest !default;




//  Style Properties
// -----------------------------


$style__button--border: none !default;
$style__button--border--hover: none !default;
$style__button--border-radius: 0 !default;
$style__button--box-shadow: none !default;
$style__button--outline: none !default;
$style__button--padding: 8px 16px !default;
$style__button--position: relative !default;
$style__button--transition: none !default;


$style__telephone--border: none !default;
$style__telephone--border--hover: none !default;
$style__telephone--border-radius: 0 !default;
$style__telephone--box-shadow: none !default;
$style__telephone--outline: none !default;
$style__telephone--padding: 8px 16px !default;
$style__telephone--position: relative !default;
$style__telephone--transition: none !default;