
// -------------------------
// Widgets: Buttons
// -------------------------




//  Default Variables
// -----------------------------


@import 'buttons-variables';




//  Button: Global
// -----------------------------


// Standard
button,
.button {
    display: inline-block;
    user-select: none;


    // Variables
    @include border-radius($style__button--border-radius);
    font-family: $font__button--font-family;
    font-size: $font__button--font-size;
    font-weight: $font__button--font-weight;
    letter-spacing: $font__button--letter-spacing;
    line-height: $font__button--line-height;
    padding: $style__button--padding;
    position: $style__button--position;
    text-transform: $font__button--text-transform;
    @include transition($style__button--transition);


    // Light
    .light & {
        background: color(color-light, $color__button--background);
        border: $style__button--border  color(color-light, $color__button--border);
        @include box-shadow($style__button--box-shadow  color(color-light, $color__button--box-shadow));
        color: color(color-light, $color__button--text);
        outline: $style__button--outline  color(color-light, $color__button--outline);
    }


    // Accent
    .accent & {
        background: color(color-accent, $color__button--background);
        border: $style__button--border  color(color-accent, $color__button--border);
        @include box-shadow($style__button--box-shadow  color(color-accent, $color__button--box-shadow));
        color: color(color-accent, $color__button--text);
        outline: $style__button--outline  color(color-accent, $color__button--outline);
    }


    // Dark
    .dark & {
        background: color(color-dark, $color__button--background);
        border: $style__button--border  color(color-dark, $color__button--border);
        @include box-shadow($style__button--box-shadow  color(color-dark, $color__button--box-shadow));
        color: color(color-dark, $color__button--text);
        outline: $style__button--outline  color(color-dark, $color__button--outline);
    }


    // Optional elements for extra button styling
    &:before,
    &:after {
        content: "";
        position: relative;
    }


    // Hover State
    &:hover {
        cursor: pointer;
        text-decoration: none;


        // Light
        .light & {
            background: color(color-light, $color__button--background--hover);
            border: $style__button--border--hover  color(color-light, $color__button--border--hover);
            @include box-shadow($style__button--box-shadow--hover  color(color-light, $color__button--box-shadow--hover));
            color: color(color-light, $color__button--text--hover);
            outline: $style__button--outline--hover  color(color-light, $color__button--outline--hover);
        }


        // Accent
        .accent & {
            background: color(color-accent, $color__button--background--hover);
            border: $style__button--border--hover  color(color-accent, $color__button--border--hover);
            @include box-shadow($style__button--box-shadow--hover  color(color-accent, $color__button--box-shadow--hover));
            color: color(color-accent, $color__button--text--hover);
            outline: $style__button--outline--hover  color(color-accent, $color__button--outline--hover);
        }


        // Dark
        .dark & {
            background: color(color-dark, $color__button--background--hover);
            border: $style__button--border--hover  color(color-dark, $color__button--border--hover);
            @include box-shadow($style__button--box-shadow--hover  color(color-dark, $color__button--box-shadow--hover));
            color: color(color-dark, $color__button--text--hover);
            outline: $style__button--outline--hover  color(color-dark, $color__button--outline--hover);
        }
    }


    // Focus State
    &:focus {
        outline: none;
    }


    // Italic Text
    &.italic {
        font-style: italic;
    }


    // Bold Text
    &.bold {
        font-weight: bold;
    }
}


// Removes any scaling elements from pagination / ecom basket buttons
.ecombasketsummary__quantity-minus,
.ecombasketsummary__quantity-plus,
.ecomproductslist__pagination-item .button,
.responsiveslideshow__pagination-item .button {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1;
}




//  Button: Paypal
// -----------------------------


.paypalbuynow form {
    background-color: transparent;
}




//  Button: Dropbox
// -----------------------------

// Displays button & label inline
.dropbox-button__button,
.dropbox-button__label {
    display: inline-block;
}




//  Button: Click To Call
// -----------------------------

.phone-number-link {
    display: inline-block;
    user-select: none;
    text-decoration: none;


    // Variables
    @include border-radius($style__telephone--border-radius);
    font-family: $font__telephone--font-family;
    font-size: $font__telephone--font-size;
    font-weight: $font__telephone--font-weight;
    letter-spacing: $font__telephone--letter-spacing;
    line-height: $font__telephone--line-height;
    padding: $style__telephone--padding;
    position: $style__telephone--position;
    text-transform: $font__telephone--text-transform;
    @include transition($style__telephone--transition);


    // Light
    .light & {
        background: color(color-light, $color__telephone--background);
        border: $style__telephone--border  color(color-light, $color__telephone--border);
        @include box-shadow($style__telephone--box-shadow color(color-light, $color__telephone--box-shadow));
        color: color(color-light, $color__telephone--text);
        outline: $style__telephone--outline  color(color-light, $color__telephone--outline);
    }


    // Accent
    .accent & {
        background: color(color-accent, $color__telephone--background);
        border: $style__telephone--border  color(color-accent, $color__telephone--border);
        @include box-shadow($style__telephone--box-shadow  color(color-accent, $color__telephone--box-shadow));
        color: color(color-accent, $color__telephone--text);
        outline: $style__telephone--outline  color(color-accent, $color__telephone--outline);
    }


    // Dark
    .dark & {
        background: color(color-dark, $color__telephone--background);
        border: $style__telephone--border  color(color-dark, $color__telephone--border);
        @include box-shadow($style__telephone--box-shadow  color(color-dark, $color__telephone--box-shadow));
        color: color(color-dark, $color__telephone--text);
        outline: $style__telephone--outline  color(color-dark, $color__telephone--outline);
    }


    // Hover State
    &:hover {
        text-decoration: none;


         // Light
        .light & {
            background: color(color-light, $color__telephone--background--hover);
            border: $style__telephone--border--hover  color(color-light, $color__telephone--border--hover);
            @include box-shadow($style__telephone--box-shadow--hover  color(color-light, $color__telephone--box-shadow--hover));
            color: color(color-light, $color__telephone--text--hover);
            outline: $style__telephone--outline--hover  color(color-light, $color__telephone--outline--hover);
        }


        // Accent
        .accent & {
            background: color(color-accent, $color__telephone--background--hover);
            border: $style__telephone--border--hover  color(color-accent, $color__telephone--border--hover);
            @include box-shadow($style__telephone--box-shadow--hover  color(color-accent, $color__telephone--box-shadow--hover));
            color: color(color-accent, $color__telephone--text--hover);
            outline: $style__telephone--outline--hover  color(color-accent, $color__telephone--outline--hover);
        }


        // Dark
        .dark & {
            background: color(color-dark, $color__telephone--background--hover);
            border: $style__telephone--border--hover  color(color-dark, $color__telephone--border--hover);
            @include box-shadow($style__telephone--box-shadow--hover  color(color-dark, $color__telephone--box-shadow--hover));
            color: color(color-dark, $color__telephone--text--hover);
            outline: $style__telephone--outline--hover  color(color-dark, $color__telephone--outline--hover);
        }
    }


    // Focus State
    &:focus {
        outline: none;
    }
}
