
// -------------------------------------
// Image: Design One
// -------------------------------------



// Row Styling
// -----------------------------



.row__image--02 {
    //background: $color--darkest;

    // Row Height
    &.row,
    .row__container {
        min-height: $row__height--full;
    }


    // Row Padding
    &.row {
        padding: $row__padding--none;
    }

    // Row Container Width
    .row__container {
        width: $row__width--full;
    }


    &.row__overlay:after {
        background: rgba(0,0,0, 0.65);
    }
}



// Widget Styling
// -----------------------------


// Full Height


.row__image--02 {

    .widget {
        padding-left: 40px;
        padding-right: 40px;

        &:first-child {
            padding-top: 40px;
        }


        &:last-child {
            padding-bottom: 40px;
        }


        &__image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            width: 100%;
        }
    }

}
