
// -------------------------------------
// Widgets: Companyname
// -------------------------------------




//  Default Variables
// -----------------------------


@import 'navigation-variables';




// Navigation Text
// ---------------

.navigation-item .item-name {
    display: block;
    padding: 14px;
    text-decoration: none;


    // Variables
    background-color: $color__navigation-item--background;
    border: $style__navigation-item--border;
    @include border-radius($style__navigation-item--border-radius);
    @include box-shadow($style__navigation-item--box-shadow);
    color: $color__navigation--text;
    font-family: $font__navigation--font-family;
    font-size: $font__navigation--font-size;
    font-weight: $font__navigation--font-weight;
    line-height: $font__navigation--line-height;
    letter-spacing: $font__navigation--letter-spacing;
    outline: $style__navigation-item--outline;
    text-transform: $font__navigation--text-transform;
    @include transition($style__navigation-item--transition);


    &:hover {
        background-color: $color__navigation-item--background--hover;
        border: $style__navigation-item--border--hover;
        color: $color__navigation--text--hover;
        cursor: pointer;
    }
}




// Navigation Layout
// -----------------


// Navigation Body
.navigation-body {
    @include clearfix;
}


// Navigation List
.navigation-list {
    background: $color__navigation-list--background;
    // border: $color__navigation--border;
    list-style: none;
    margin-left: 0;
    // outline: $color__navigation--outline;
    padding: 0;
    width: 100%;
    z-index: 9999;
}


// Navigation List Item
.navigation-item {
    position: relative;
    display: inline-block;
}

// Dropdown Menu
.navigation-list--children {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 100%;

    .item-name {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

// Display Dropdown Menu
.navigation-item:hover .navigation-list--children {
    display: block;
}

.navigation-item--child {
    display: list-item;
}

