
// -------------------------
//  Variables: Navigation
// -------------------------




//  Font Properties
// -----------------------------


$font__navigation--font-family: $font__body !default;
$font__navigation--font-size: 16px !default;
$font__navigation--font-weight: 400 !default;
$font__navigation--letter-spacing: 0 !default;
$font__navigation--line-height: 1 !default;
$font__navigation--text-transform: none !default;




//  Colour Properties
// -----------------------------


// Colour Variant Defaults
$colors: (
    color-light: (
        $color__navigation-list--background: $transparent,
        $color__navigation-item--background: $transparent,
        $color__navigation-item--background--hover: $transparent,
        $color__navigation--text: $color--darkest,
        $color__navigation--text--hover: $color--darkest
    ),
    color-accent: (
        $color__navigation-list--background: $transparent,
        $color__navigation-item--background: $transparent,
        $color__navigation-item--background--hover: $transparent,
        $color__navigation--text: $color--accent,
        $color__navigation--text--hover: $color--accent
    ),
    color-dark: (
        $color__navigation-list--background: $transparent,
        $color__navigation-item--background: $transparent,
        $color__navigation-item--background--hover: $transparent,
        $color__navigation--text: $color--lightest,
        $color__navigation--text--hover: $color--lightest
    )
);


// SASS Colour Function
@import '../../global/color-function';




//  Style Properties
// -----------------------------

$style__navigation-list--border: none !default;
$style__navigation-list--border-radius: 0 !default;
$style__navigation-list--box-shadow: none !default;
$style__navigation-list--outline: none !default;


$style__navigation-item--border: none !default;
$style__navigation-item--border--hover: none !default;
$style__navigation-item--border-radius: 0 !default;
$style__navigation-item--box-shadow: none !default;
$style__navigation-item--outline: none !default;
$style__navigation-item--outline--hover: none !default;
$style__navigation-item--padding: 5px 10px !default;
$style__navigation-item--transition: none !default;
