
// -------------------------------------
// Navigation: Design One
// -------------------------------------


// Row Defaults
// -----------------------------


.row__navigation--01 {


    // Row
    &.row {
        min-height: $row__height--default;
        padding: $row__padding--small 0;
    }


    // Row Width
    .row-container {
        width: $row__width--wide;
    }
}




// Row Styles
// -----------------------------


.navigation-toggle {
    display: none;
    visibility: hidden;
}
