{% extends "layout.twig" %}
{% block content %}

<div class= "row-select--heros">


    <form class="layout-selector">
        <fieldset>
            <select class="layout-choice">
                <option value="row__hero--01">Layout 1</option>
                <option value="row__hero--02">Layout 2</option>
                <option value="row__hero--03">Layout 3</option>
            </select>
        </fieldset>
    </form>


    <!-- Hero 1 -->
    <!-- {% include "rows/hero/hero-01/hero-01.twig" %} -->


    <!-- Hero 2 -->
    <!-- {% include "rows/hero/hero-02/hero-02.twig" %} -->


    <!-- Hero 3 -->
    {% include "rows/hero/hero-03/hero-03.twig" %}


</div>

{% endblock %}


{% block scripts %}

    <script>
        $(document).ready(function(){

            // Hides all but the first row
            $('.row + .row').hide();


            // Shows the selected row
            $('.layout-choice').on('change', function() {
                var val = $(this).val();
                var row = $('.row');

                row.hide(); // hide all rows

                $('.' + val).show(); // show the current row

            })
        });
  </script>

    <script>
        $(document).on("click", ".navigation-icon--container input", function() {
            $( "body" ).toggleClass( "navigation-open" );
        });
    </script>

{% endblock %}
