{% extends "layout.twig" %}
{% block content %}


<!-- Hero -->
<div class= "row-select  row-select--heros">


    <!-- Row Layout & Colour Selector -->
    <form class="layout-selector">
        <fieldset>
            <select class="layout-choice--hero">
                <option value="row__hero--02">Hero - 1</option>
                <option value="row__hero--03">Hero - 2</option>
            </select>
        </fieldset>
    </form>


    <!-- Hero Row 01 -->
    {% include "rows/hero/hero-02/hero-02.twig" %}


    <!-- Hero Row 02 -->
    {% include "rows/hero/hero-03/hero-03.twig" %}

</div>



<!-- Content -->
<div class= "row-select  row-select--content">


    <!-- Row Layout Selector -->
    <form class="layout-selector">
        <fieldset>
            <select class="layout-choice--content">
                <option value="row__content--01">Content 01</option>
                <option value="row__content--02">Content 02</option>
                <option value="row__content--03">Content 03</option>
            </select>
        </fieldset>
    </form>


    <!-- Content Row 01 -->
    {% include "rows/content/content-01/content-01.twig" %}


    <!-- Content Row 02 -->
    {% include "rows/content/content-02/content-02.twig" %}


    <!-- Content Row 03 -->
    {% include "rows/content/content-03/content-03.twig" %}

</div>



<!-- Gallery -->
<div class= "row-select  row-select--gallery">


    <!-- Row Layout Selector -->
    <form class="layout-selector">
        <fieldset>
            <select class="layout-choice--gallery">
                <option value="row__gallery--01">Gallery 01</option>
                <option value="row__gallery--02">Gallery 02</option>
                <option value="row__gallery--03">Gallery 03</option>
            </select>
        </fieldset>
    </form>


    <!-- Gallery Row 01 -->
    {% include "rows/gallery/gallery-01/gallery-01.twig" %}


    <!-- Gallery Row 02 -->
    {% include "rows/gallery/gallery-02/gallery-02.twig" %}


    <!-- Gallery Row 03 -->
    {% include "rows/gallery/gallery-03/gallery-03.twig" %}

</div>



<!-- Contact -->
<div class= "row-select  row-select--contact">


    <!-- Row Layout Selector -->
    <form class="layout-selector">
        <fieldset>
            <select class="layout-choice--contact">
                <option value="row__contact--01">Contact -- 1</option>
                <option value="row__contact--02">Contact -- 2</option>
                <option value="row__contact--03">Contact -- 3</option>
            </select>
        </fieldset>
    </form>


    <!-- Contact Row 01 -->
    {% include "rows/contact/contact-01/contact-01.twig" %}


    <!-- Contact Row 02 -->
    {% include "rows/contact/contact-02/contact-02.twig" %}


    <!-- Contact Row 03 -->
    {% include "rows/contact/contact-03/contact-03.twig" %}

</div>



<!-- Footer -->
<div class= "row-select  row-select--contact">


    <!-- Row Layout Selector -->
    <form class="layout-selector">
        <fieldset>
            <select class="layout-choice--footer">
                <option value="row__footer--01">Footer 01</option>
                <option value="row__footer--02">Footer 02</option>
            </select>
        </fieldset>
    </form>


    <!-- Footer Row 01 -->
    {% include "rows/footer/footer-01/footer-01.twig" %}


    <!-- Footer Row 02 -->
    {% include "rows/footer/footer-02/footer-02.twig" %}


</div>


{% endblock %}
