{% extends "layout.twig" %}
{% block content %}

<div class="site">


    <!-- Content Row
    <section class="row  row-content-one">
        <div class="container">

            <div class="column  column-70  center-middle">
                <div class="widget  widget-image  cover"  style=background-image:url("https://images.unsplash.com/photo-1481204287293-36160be24f29?dpr=1&auto=format&fit=crop&w=1500&h=1125&q=80&cs=tinysrgb&crop=");>
                </div>
            </div>

            <div class="column  column-30  offset  center-left">
                <div class="widget  widget-compound-content">
                    <h2 class="heading-2"> What we can do for you</h2>
                    <p>We work with you and carry out research to understand your needs and the needs of your customers. We then identify the best way or ways for these needs to be met and enable you to implement this effectively.</p>
                </div>
            </div>

        </div>
    </section> -->


    <!-- Text Row -->
    <section class="row  row-text-one">
        <div class="container">

            <div class="column  column-50  center-right">
                <div class="widget  widget-content">
                    <h1 class="heading-1">We work with you and carry out research to understand your needs and the needs of your customers.</h1>
                </div>
            </div>

            <div class="column  column-50  offset  center-left">
                <div class="widget  widget-content">
                    <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id justo diam. Vivamus nec vestibulum est, at dictum lectus. Nulla ut pretium velit. Fusce vitae elit id turpis placerat commodo eleifend vitae libero. Donec a sagittis urna. Vivamus ullamcorper ante sed ligula vehicula, quis elementum metus accumsan.</p>
                    <p>Maecenas erat enim, lobortis mollis finibus a, fermentum vitae diam. Proin eu sollicitudin mauris. Ut at enim odio.</p>
                </div>
            </div>

        </div>
    </section>


    <!-- Gallery Row -->
    <section class="row  row-gallery-one">
        <ul class="container  widget  widget-gallery  gallery-list">

            <li class="gallery-item  column  column-25">
                <a href="#" style="background-image:url(http://files.product.basekit.technology/product-basekit-technology1641/image/g-2.jpg)"; class="gallery-item-link">
                    <figure class="gallery-figure">
                        <figcaption class="gallery-caption">
                            <span class="gallery-title">Gallery Item Title</span>
                            <span class="gallery-description">Gallery Item Description</span>
                        </figcaption>
                    </figure>
                </a>
            </li>

            <li class="gallery-item  column  column-25">
                <a href="#" style="background-image:url(http://files.product.basekit.technology/product-basekit-technology1641/image/g-1.jpg)"; class="gallery-item-link">
                </a>
            </li>

            <li class="gallery-item  column  column-25">
                <a href="#" style="background-image:url(http://files.product.basekit.technology/product-basekit-technology1641/image/g-4.jpg)" class="gallery-item-link">
                    <figure class="gallery-figure">
                            <figcaption class="gallery-caption">
                                <span class="gallery-title">Gallery Item Title</span>
                                <span class="gallery-description">Gallery Item Description</span>
                            </figcaption>
                    </figure>
                </a>
            </li>

         </ul>
    </section>


    <!-- Text Row -->
    <section class="row  row-text-two">
        <div class="container">

            <div class="column  column-100  center-middle">
                <div class="widget  widget-compound-content">
                    <h1 class="heading-1">We work with you and carry out research to understand your needs and the needs of your customers.</h1>

                    <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id justo diam. Vivamus nec vestibulum est, at dictum lectus. Nulla ut pretium velit. Fusce vitae elit id turpis placerat commodo eleifend vitae libero. Donec a sagittis urna.</p>
                </div>
            </div>

        </div>
    </section>


    <!-- Contact Row -->
    <section class="row  row-contact-one">
        <div class="container">

            <div class="column  column-30  offset  center-right">
                <div class="widget  widget-compound-content">
                    <h2 class="heading-2">Get in touch</h2>
                    <ul>
                        <li>Telephone: 01234 567890></li>
                        <li>Email: email@basekit.com></li>
                        <li>Address: 1 Bristol Road, Bristol, BS1 123</li>
                    </ul>
                </div>
            </div>

            <div class="column  column-70  center-middle">
                <div class="widget  widget-map  cover">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2486.161724447483!2d-2.586847833516584!3d51.455187079626725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48718e700a38170f%3A0x5a2c0bd757f05770!2sOne+Castlepark+Tower+Hill%2C+Bristol+BS2+0JA!5e0!3m2!1sen!2suk!4v1482254411342" width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </section>

</div>

{% endblock %}
