{% extends "layout.twig" %}
{% block content %}


<div class="bk-row  row  row__image-text--1  light">
    <div class="bk-row__container  row__container">

        <div class="bk-zone  row__column  row__column--three-quarters  align--middle-center">
            <div class="widget  widget-image  cover"  style=background-image:url("https://www.bluecross.org.uk/sites/default/files/assets/images/20311lpr.jpg");>
                <img src="https://www.bluecross.org.uk/sites/default/files/assets/images/20311lpr.jpg">
            </div>
        </div>

        <div class="bk-zone  row__column  row__column--one-quarter  row__column--offset  row__column--offset-left  align--middle-left">
            {{widget('content', 'content', {
                content: '<h2> What we can do for you</h2> <p>We work with you and carry out research to understand your needs and the needs of your customers. We then identify the best way or ways for these needs to be met and enable you to implement this effectively.</p>'
            })|raw}}
        </div>

    </div>
</div>


{% endblock %}
