{% extends "layout.twig" %}
{% block content %}


<section class="bk-row  row__image-text--1">
    <div class="container">

        <div class="bk-column  column--67  align--middle-center">
            <div class="widget  widget-image  cover"  style=background-image:url("https://images.unsplash.com/photo-1481204287293-36160be24f29?dpr=1&auto=format&fit=crop&w=1500&h=1125&q=80&cs=tinysrgb&crop=");>
            </div>
        </div>

        <div class="bk-column  column--33  align--middle-left">
            {{widget('content', 'sidebarcontent', {
                content: '<h2> What we can do for you</h2> <p>We work with you and carry out research to understand your needs and the needs of your customers. We then identify the best way or ways for these needs to be met and enable you to implement this effectively.</p>'
            })|raw}}
        </div>

    </div>
</section>


{% endblock %}
