
// -------------------------------------
// Framework: Imports
// -------------------------------------




// Imports: Demo UI
// -----------------------------

#tdk-toolbar {
    display: none!important;
}

@import "misc/demo-ui";




// Imports: Global
// -----------------------------


@import "framework/global/resets";
@import "framework/global/mixins";
@import "framework/global/colors";




// Imports: Column
// -----------------------------


@import "framework/columns/grid";
@import "framework/columns/alignment";




// Imports: Row Framework
// -----------------------------


@import "framework/row/background";
@import "framework/row/structure";




// Imports: Template
// -----------------------------


// Typography Variable Defaults
@import "framework/global/typography-variables";


// Template Styles
// @import "templates/template-fitgoal";
// @import "templates/template-chay";
@import "templates/template-juiced";
// @import "templates/template-playground";


// Defaults - Needs to be after template to inherit styles
@import "framework/global/typography";
@import "framework/row/row-colors";
@import "framework/row/background-effects";




// Imports: Rows
// -----------------------------


// Heros
@import "rows/hero/hero-01/hero-01";
@import "rows/hero/hero-02/hero-02";
@import "rows/hero/hero-03/hero-03";


// Content
@import "rows/content/content-01/content-01";
@import "rows/content/content-02/content-02";
@import "rows/content/content-03/content-03";


// Image
@import "rows/images/image-01/image-01";
@import "rows/images/image-02/image-02";
@import "rows/images/image-03/image-03";

// Gallery
@import "rows/gallery/gallery-01/gallery-01";
@import "rows/gallery/gallery-02/gallery-02";
@import "rows/gallery/gallery-03/gallery-03";


// Contact
@import "rows/contact/contact-01/contact-01";
@import "rows/contact/contact-02/contact-02";
@import "rows/contact/contact-03/contact-03";


// Footer
@import "rows/footer/footer-01/footer-01";
@import "rows/footer/footer-02/footer-02";




// Imports: Widgets
// -----------------------------


@import 'framework/widgets/address/address';
@import 'framework/widgets/buttons/buttons';
@import 'framework/widgets/companyname/companyname';
@import 'framework/widgets/content/content';
// //@import 'framework/widgets/divider/divider';
// //@import 'framework/widgets/feature/feature';
// //@import 'framework/widgets/forms/fonecta-widgets';
@import "framework/widgets/forms/forms";

@import 'framework/widgets/gallery/gallery';
// //@import 'framework/widgets/map/google-map';
@import 'framework/widgets/images/image';
// //@import 'framework/widgets/linkedin/linkedin';

// @import 'framework/widgets/logo/logo';

@import 'framework/widgets/navigation/navigation';

@import 'framework/widgets/profile/profile';
// @import 'framework/widgets/slideshow';

@import 'framework/widgets/socialicons/social-icons';

// @import 'framework/widgets/twitter-feed';
@import 'framework/widgets/widgets/widgets';
// @import 'framework/widgets/yelp';
// @import 'framework/widgets/youtube';
