
<div class="bk-row  row  row__image--03  light">
    <div class="bk-row__container  row__container">

        <div class="row__column  row__column--half  align--middle-right">
            <div class="widget widget__image  color--gradient  filter--color-splash"  style="background-image:url(https://s3.amazonaws.com/basekit-video/basekit-design/sports-club/bristol-sports-hero.jpg)">
            </div>
        </div>

        <div class="row__column  row__column--half  align--middle-left">
            {{widget('content', 'content-clients', {
                content: '
                <h3>Our Clients</h3>
                <p>Our Clients range from FTSE 300 companies, to large charitable organisations and loca. businesses.</p>'
            })|raw}}
        </div>

    </div>
</div>
