
// -------------------------------------
// Footer: Design Two
// -------------------------------------




// Row Styling
// -----------------------------


.row__footer--02 {


    // Row Height
    &.row {
        height: $row__height--small;
    }


    // Row Padding
    &.row {
        padding: $row__padding--medium  $row__padding--large;
    }


    // Row Container Width
    .row__container {
        width: $row__width--full;
    }

    // Row List
    .row-list {
        padding: 0;
        list-style: none;
    }
    .row-list-link {
        text-decoration: none;
    }

    // Typography Overrides
    p {
        font-size: 14px;
        line-height: 30px;
    }
}
