
// -------------------------------------
// Footer: Design Two
// -------------------------------------




// Row Styling
// -----------------------------


.row__footer--02 {


    // Row Height
    &.row {
        min-height: $row__height--default;
    }


    // Row Padding
    &.row {
    }


    // Row Container Width
    .row__container {
        padding: $row__padding--large;
        width: $row__width--full;
    }


    // Row List
    .row-list {
        padding: 0;
        list-style: none;
    }


    .row-list-link {
        text-decoration: none;
    }
}
