<!-- Footer 2 -->
<footer class="bk-row  row  row__footer--02  dark">
    <div class="row-container  row__container">

        <div class="row__column  row__column--one-quarter  align--middle-top">
            {{widget('companyname', 'footerCompanyname', {"business": "profile"})|raw}}
        </div>

        <div class="row-column  row__column  row__column--one-quarter  align--middle-top">
            <h4>Column Heading</h4>
            <ul class="row-list  row__list">
                <li class="row-list-item  row__row-list-item">
                    <a href="#" class="row-list-link  row__row-list-link">Link One</a>
                </li>
                <li class="row-list-item  row__row-list-item">
                    <a href="#" class="row-list-link  row__row-list-link">Link Two</a>
                </li>
                <li class="row-list-item  row__row-list-item">
                    <a href="#" class="row-list-link  row__row-list-link">Link Three</a>
                </li>
            </ul>
        </div>

        <div class="row-column  row__column  row__column--one-quarter  align--middle-top">
            <h4>Column Heading</h4>
            <ul class="row-list  row__list">
                <li class="row-list-item  row__row-list-item">
                    <a href="#" class="row-list-link  row__row-list-link">Link One</a>
                </li>
                <li class="row-list-item  row__row-list-item">
                    <a href="#" class="row-list-link  row__row-list-link">Link Two</a>
                </li>
                <li class="row-list-item  row__row-list-item">
                    <a href="#" class="row-list-link  row__row-list-link">Link Three</a>
                </li>
            </ul>
        </div>

        <div class="row__column  row__column--one-quarter  align--middle-top">
            <h4>Column Heading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in tellus ipsum. Pellentesque.</p>
        </div>

    </div>
</footer>
