
<div class="bk-row  row  row__gallery--01  dark">
    <div class="bk-row__container  row__container">

        <div class="row__column  row__column--full">

            {{widget('gallery', 'image-gallery', {
            'showTitle': true,
            'showDescription': true,
            'images':[
                {
                  'url':'https://s3.amazonaws.com/basekit-video/basekit-design/sports-club/gallery-image1.jpg',
                  'title':'Gym',
                  'description': 'Outstanding gym facilities and professionally trained on-site health experts.'
                },
                {
                  'url':'https://s3.amazonaws.com/basekit-video/basekit-design/sports-club/gallery-image2.jpg',
                  'title':'3G and Grass Pitches',
                  'description': 'Available for one-off or block bookings!'
                },
                {
                  'url':'https://s3.amazonaws.com/basekit-video/basekit-design/sports-club/gallery-image3.jpg',
                  'title':'Squash Courts',
                  'description': 'Two squash courts available for hire. Table tennis now available.'
                },
                {
                  'url':'https://s3.amazonaws.com/basekit-video/basekit-design/sports-club/gallery-image4.jpg',
                  'title':'Sports Bar',
                  'description': 'The ideal venue to relax with friends whilst watching all the latest sporting action on our multi room widescreen plasma TVs.'
                },
                {
                  'url':'https://s3.amazonaws.com/basekit-video/basekit-design/sports-club/gallery-image5.jpg',
                  'title':'Skittle Alley',
                  'description': 'Home to a number of local teams, but also available for hire for parties and corporate events.'
                },
                {
                  'url':'https://s3.amazonaws.com/basekit-video/basekit-design/sports-club/gallery-image6.jpg',
                  'title':'Treatment Rooms',
                  'description': 'Our resident specialists, Top To Toe Physiotherapy, offer a wide range of treatment options to suite each individuals needs.'
                }
            ]
            })|raw}}

        </div>

    </div>
</div>
