
<div class="bk-row  row  row__footer--01  accent">
    <div class="bk-row__container  row__container">

        <div class="row__column  row__column--half  align--middle-left">
            {{widget('content', 'content-copyright', {
                content: '<p>Copyright 2017 South Bristol Sports Limited</p>'
            })|raw}}
        </div>


        <div class="row__column  row__column--half  align--middle-right">

            {{widget('socialicons', 'socialnetworks', {
                'facebook': 'https://www.facebook.com/mycompanyname',
                'twitter': 'https://twitter.com/mycompanyname',
                'instagram': 'https://www.instagram.com/mycompanyname'
            })|raw}}
        </div>

    </div>
</div>
