// -------------------------
// WIDGETS: Buttons
// -------------------------



// ------------------
//  Table of Contents
// ------------------

// 1. Standard Button
// 2. Paypal Button
// 3. Dropbox Button
// 4. Tweet Button
// 5. Click to Call Button



// ---------------------
// 1. Main Button
// ---------------------


// Standard
button,
.button {
    display: inline-block;

    // Button Styles
    padding: 4px 12px;
    border: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }

    &.italic {
        font-style: italic;
    }

    &.bold {
        font-weight: bold;
    }
}


// Removes any scaling elements from pagination / ecom basket buttons
.ecombasketsummary__quantity-minus,
.ecombasketsummary__quantity-plus,
.ecomproductslist__pagination-item .button,
.responsiveslideshow__pagination-item .button {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1;
}




// ---------------------
// 2. #PayPal Button
// ---------------------

.paypalbuynow form { background-color: transparent; }




// ---------------------
// 3. #Dropbox Button
// ---------------------

.dropbox-button__button,
.dropbox-button__label {
    display: inline-block; // Displays button & label inline
}




// ---------------------
// 4. #Tweet Button
// ---------------------




// ------------------------
// 5. #Click to Call Button
// ------------------------

.clicktocall__phone-number-link {
    @media only screen and (max-width: 480px), only screen and (max-width:700px) and (orientation:landscape) {

        display: inline-block;

        // Button Styles
        padding: 9px 12px;
        text-decoration: none;
        border: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

        &:hover {
            text-decoration: none;
        }

        &:focus {
            outline: none;
        }
    }
}

