
// -------------------------
// Widgets: Buttons
// -------------------------




//  Button: Global
// -----------------------------


// Standard
button,
.button {
    display: inline-block;
    user-select: none;


    // Variables
    background-color: color-tone(color-accent, color__button--background);
    border: color-tone(color-accent, color__button--border);
    @include border-radius($style__button--border-radius);
    @include box-shadow($style__button--box-shadow);
    color: color-tone(color-accent, color__button--text);
    font-family: $font__button--font-family;
    font-size: $font__button--font-size;
    font-weight: $font__button--font-weight;
    letter-spacing: $font__button--letter-spacing;
    line-height: $font__button--line-height;
    outline: color-tone(color-accent, color__button--outline);
    padding: $style__button--padding;
    position: $style__button--position;
    text-transform: $font__button--text-transform;
    @include transition($style__button--transition);


    // Optional elements for extra button styling
    &:before,
    &:after {
        content: "";
        position: relative;
    }


    // Hover State
    &:hover {
        background-color: color-tone(color-accent, color__button--background--hover);
        border: 1px solid color-tone(color-accent, color__button--border--hover);
        color: color-tone(color-accent, color__button--text--hover);
        text-decoration: none;
    }


    // Focus State
    &:focus {
        outline: none;
    }


    // Italic Text
    &.italic {
        font-style: italic;
    }


    // Bold Text
    &.bold {
        font-weight: bold;
    }
}


// Removes any scaling elements from pagination / ecom basket buttons
.ecombasketsummary__quantity-minus,
.ecombasketsummary__quantity-plus,
.ecomproductslist__pagination-item .button,
.responsiveslideshow__pagination-item .button {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1;
}




//  Button: Paypal
// -----------------------------


.paypalbuynow form {
    background-color: transparent;
}




//  Button: Dropbox
// -----------------------------

// Displays button & label inline
.dropbox-button__button,
.dropbox-button__label {
    display: inline-block;
}




//  Button: Click To Call
// -----------------------------

.clicktocall__phone-number-link {

    display: inline-block;
    user-select: none;
    text-decoration: none;


    // Variables
    //background-color: $color__button--background;
    border: $style__telephone--border;
    @include border-radius($style__telephone--border-radius);
    @include box-shadow($style__telephone--box-shadow);
    color: $color__telephone--text;
    font-family: $font__telephone--font-family;
    font-size: $font__telephone--font-size;
    font-weight: $font__telephone--font-weight;
    letter-spacing: $font__telephone--letter-spacing;
    line-height: $font__telephone--line-height;
    outline: $style__telephone--outline;
    padding: $style__telephone--padding;
    position: $style__telephone--position;
    text-transform: $font__telephone--text-transform;
    @include transition($style__telephone--transition);


    // Hover State
    &:hover {
        background-color: $color__button--background--hover;
        border: $style__button--border--hover;
        color: $color__button--text--hover;
        text-decoration: none;
    }


    // Focus State
    &:focus {
        outline: none;
    }
}
