
// -------------------------
// Widgets: Buttons
// -------------------------




//  Button: Global
// -----------------------------


// Standard
button,
.button {
    display: inline-block;
    user-select: none;


    // Variables
    background-color: map-get($color-light, color__button--background);
    border: $style__button--border;
    @include border-radius: $style__button--border-radius;
    @include box-shadow: $style__button--box-shadow;
    color: map-get($color-light, color__button--text);
    font-family: $font__button--font-family;
    font-size: $font__button--font-size;
    font-weight: $font__button--font-weight;
    letter-spacing: $font__button--letter-spacing;
    line-height: $font__button--line-height;
    outline: $style__button--outline;
    padding: $style__button--padding;
    position: $style__button--position;
    text-transform: $font__button--text-transform;
    @include transition($style__button--transition);


    // Optional elements for extra button styling
    &:before,
    &:after {
        content: "";
        position: relative;
    }


    // Hover State
    &:hover {
        text-decoration: none;
    }


    // Focus State
    &:focus {
        outline: none;
    }


    // Italic Text
    &.italic {
        font-style: italic;
    }


    // Bold Text
    &.bold {
        font-weight: bold;
    }
}


// Removes any scaling elements from pagination / ecom basket buttons
.ecombasketsummary__quantity-minus,
.ecombasketsummary__quantity-plus,
.ecomproductslist__pagination-item .button,
.responsiveslideshow__pagination-item .button {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1;
}




//  Button: Paypal
// -----------------------------


.paypalbuynow form {
    background-color: transparent;
}




//  Button: Dropbox
// -----------------------------

// Displays button & label inline
.dropbox-button__button,
.dropbox-button__label {
    display: inline-block;
}




//  Button: Tweet
// -----------------------------




//  Button: Click To Call
// -----------------------------

.clicktocall__phone-number-link {
    @media only screen and (max-width: 480px), only screen and (max-width:700px) and (orientation:landscape) {

        border: $style__button--border;
        display: inline-block;
        padding: $style__button--padding;
        user-select: none;
        text-decoration: none;


        // Hover State
        &:hover {
            text-decoration: none;
        }


        // Focus State
        &:focus {
            outline: none;
        }
    }
}
