// ---------------------
// WIDGETS: Feature
// ---------------------


// Feature Headline
.feature__headline {
    font-family: $font__feature-headline--font-family;
    font-size: $font__feature-headline--font-size;
    font-weight: $font__feature-headline--font-weight;
    line-height: $font__feature-headline--line-height;
    letter-spacing: $font__feature-headline--letter-spacing;
    color: $color__feature-headline--text;
}

// Feature Strapline
.feature__strapline {
    font-family: $font__feature-strapline--font-family;
    font-size: $font__feature-strapline--font-size;
    font-weight: $font__feature-strapline--font-weight;
    line-height: $font__feature-strapline--line-height;
    letter-spacing: $font__feature-strapline--letter-spacing;
    color: $color__feature-strapline--text;
}
