
// -------------------------
// Widgets: Gallery
// -------------------------



// Set Gallery Structures?
// -------------------------

.gallery__item {
    width: $gallery__item-width;
}


.gallery__figure {
	margin: 0;
}

.gallery-list {
    margin: 0;
    list-style: none;
}

