// -------------------------
// WIDGETS: Navigation
// -------------------------



// Navigation Text
// ---------------

.navigation-item .item-name {
    display: block;
    padding: 14px;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}



// Navigation Layout
// -----------------


// Navigation Body
.navigation-body {
    @include clearfix;
}

// Navigation List
.navigation-list {
    width: 100%;
    z-index: 9999;
    padding: 0;
    margin-left: 0;
    list-style: none;
}

// Navigation List Item
.navigation-item {
    position: relative;
    display: inline-block;
}

// Dropdown Menu
.navigation-list--children {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 100%;

    .item-name {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

// Display Dropdown Menu
.navigation-item:hover .navigation-list--children {
    display: block;
}

.navigation-item--child {
    display: list-item;
}

