// ----------------------
// WIDGETS: Social Links
// ----------------------


// Social List
.social-list { margin: 0; }

// Social Item
.social-item {
    display: inline-block;
    margin-right: 10px;
}

// Social Link
.social-link { -webkit-font-smoothing: antialiased; }

