
// -------------------------
// Widgets: Twitter Feed
// -------------------------


// Account Name
.account-link {
    font-family: $font__h3--font-family;
    font-size: $font__h3--font-size;
    font-weight: $font__h3--font-weight;
    color: $color__h3--text;
    line-height: $font__h3--line-height;
    letter-spacing: $font__h3--letter-spacing;
}
