
// -------------------------------------
// Navigation: Design One
// -------------------------------------



// Global: Navigation
// -----------------------------


.navigation-item .item-name {


    .light & {
        color: color(color-light, $color__navigation--text);
    }


    .accent & {
        color: color(color-light, $color__navigation--text);
    }


    .dark & {
        color: color(color-light, $color__navigation--text);
    }
}


.navigation-toggle {
    display: none;
    visibility: hidden;
}
