
// -------------------------------------
// Navigation: Design One
// -------------------------------------



// Global: Navigation
// -----------------------------


&.light {

    .navigation-item .item-name {
        color: color(color-light, $color__navigation--text);
    }
}


&.accent {

    .navigation-item .item-name {
        color: color(color-light, $color__navigation--text);
    }
}


&.dark {

    .navigation-item .item-name {
        color: color(color-light, $color__navigation--text);
    }
}


.navigation-toggle {
    display: none;
    visibility: hidden;
}
