
<div class="row  row__navigation  row__navigation--01  dark">
    <div class="row-container  row__row-container  row-width--contained">

        <div class="row-column  row-column--half  align--middle-left">
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>

        <div class="row-column  row-column--half  align--middle-right">
            {{widget('extendednavigation', 'navigation', {})|raw}}
        </div>

    </div>
</div>