
<div class="bk-row  row  row__image--01  dark">
    <div class="bk-row__container  row__container">

        <div class="row__column  row__column--full  align--middle-center">
            {{widget('image', 'footerimage', {
                'src': asset("/templates/barber.jpg")
            })|raw}}
        </div>

    </div>
</div>
