
// -------------------------
// Widgets: Divider
// -------------------------




//  Default Variables
// -----------------------------


// @import 'divider-variables';




//  Divider: Global
// -----------------------------


hr.rule {
    border: none;
    display: inline-block;
	height: 2px;
    width: 100%;


    // Light
    .light & {
        background: color(color-light, $color__hr--background);
    }


    // Dark
    .dark & {
        background: color(color-light, $color__hr--background);
    }


    // Accent
    .accent & {
        background: color(color-light, $color__hr--background);
    }
}
