
// -------------------------------------
// Gallery: Design Three
// -------------------------------------




// Row Styling
// -----------------------------


.row__gallery--03 {


    // Row Height
    &.row {
        min-height: $row__height--default;
    }


    // Row Padding
    &.row {
        padding: $row__padding--large;
    }


    // Row Container Width
    .row__container {
        width: $row__width--contained;
    }
}




// Colour Application
// -----------------------------


.row__gallery--03 {
    
    &.light {

        .gallery__image-title {
            color: $color--darkest;
        }

        .gallery__image-description {
            color: $color--dark;
        }
    }


    &.accent {

        .gallery__image-title {
            color: $color--lightest;
        }

        .gallery__image-description {
            color: $color--light;
        }
    }


    &.dark {

        .gallery__image-title {
            color: $color--lightest;
        }

        .gallery__image-description {
            color: $color--light;
        }
    }
}




// Widget Styling
// -----------------------------

.row__gallery--03 {

    .gallery__gallery-list {
        @include box-sizing(border-box);
        @include flex-display;
        @include flex(0 0 auto);
        @include flex-wrap(wrap);
        max-width: 100%;
        position: relative;
        z-index: 2;
    }


    .gallery__gallery-item {
        @include flex-basis(33.33333333%);
        padding: 30px;

        @include respond-to(tablet) {
            @include flex-basis(50%);
            padding: 30px;
        }

        @include respond-to(mobile) {
            @include flex-basis(100%);
        }
    }


    .gallery__image-link {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        padding-bottom: 100%;
        width: 100%;
        @include border-radius(500px);
    }


    .gallery__image {
        display: none;
        visibility: hidden;
    }


    .gallery__caption {
        background: transparent !important;
        @include flex-display;
        @include align-items(center);
        @include justify-content(center);

        margin-top: 30px;
        text-align: center;
       
    }


    .gallery__caption-link {
        text-decoration: none;
    }


    .image-title,
    .image-description {
        display: block;
        text-decoration: none;
    }
}
