
// -------------------------------------
//  Row - Background
// -------------------------------------




//  Variable Defaults
// -------------------------------------


// Colour Variables
$color__row--background: transparent !default;
$color__row--overlay: transparent !default;


// Style Variables
$style__row--border: none !default;
$style__row--blur: 0 !default;
$style__row--grayscale: 0 !default;




//  Background
// -------------------------------------


// Row Background Colour
.row {
    background: $color__row--background;
    border-color: $style__row--border;


    // Row Overlay Colour (Solid, Gradient, Opacity)
    &:after {
        background: $color__row--overlay;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }


    // Hero Background Colour
    &__hero {
        background: $color__hero--background;
    }
}




//  Background Positioning
// -------------------------------------


// Default Background Image Settings
.row {
    background-position: center;
    background-repeat: no-repeat;
}




//  Background Size
// -------------------------------------


// Cover Background Image
.bg--cover {
    background-size: cover;
}


// Contain Background Image
.bg--contain {
    background-size: contain;
}
