
// -------------------------------------
//  Row - Colours
// -------------------------------------




//  Row Defaults
// -------------------------------------

.row {

    // Light
    &.light {
        background-color: color(color-light, $row__background-color);
    }


    &.accent {
        background-color: color(color-accent, $row__background-color);
    }


    &.dark {
        background-color: color(color-dark, $row__background-color);
    }
}
