
// -------------------------------------
//  Row - Structure
// -------------------------------------




//  Row Variables
// -------------------------------------


// Height
$row__height--full: 100vh;
$row__height--medium: 70vh;
$row__height--small: 35vh;
$row__height--default: auto;


// Width
$row__width--full: 100%;
$row__width--wide: 90%;
$row__width--contained: 1100px;


// Spacing
$row__padding--large: 60px;
$row__padding--medium: 30px;
$row__padding--small: 15px;
$row__padding--none: 0;


@include respond-to(tablet) {
    $row__padding--large: 30px;
    $row__padding--medium: 15px;
    $row__padding--small: 15px;
}




//  Grid (Flex)
// -------------------------------------


.row .row__container {
    @include box-sizing(border-box);
    @include flex-display;
    @include flex(0 1 auto);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    margin: 0 auto;
    padding: $row__padding--none;


    // Reverses Row Content (Invert)
    &--reverse {
        @include flex-direction(row-reverse);
    }
}


.row {
    @include align-items(center);
    @include box-sizing(border-box);
    @include flex-display;
    @include flex(0 1 auto);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    margin: 0 auto;
    min-height: $row__height--default;


    // Reverses Row Content (Invert)
    &--reverse {
        @include flex-direction(row-reverse);
    }
}




//  Height & Width Defaults
// -------------------------------------


// Row / Container Height
.row {
// .row__container {
    min-height: $row__height--default;
}


.row {
    position: relative;
}


// Container Width
.row__container {
    max-width: $row__width--full;
}
