
// -------------------------------------
//  Row - Structure
// -------------------------------------




//  Row Variables
// -------------------------------------


// Height
$row__height--full: 100vh;
$row__height--medium: 70vh;
$row__height--small: 35vh;
$row__height--default: auto;


// Width
$row__width--full: 100%;
$row__width--wide: 90%;
$row__width--contained: 1100px;


// Spacing
$row__padding--large: vr(3);
$row__padding--medium: vr(2);
$row__padding--small: vr(1);
$row__padding--none: vr(0);




//  Grid & Default Values
// -------------------------------------


.row,
.row__container {
    min-height: $row__height--default;
}



.row {
    @include align-items(center);
    @include box-sizing(border-box);
    @include flex-display;
    @include flex(0 1 auto);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    margin: 0 auto;
    position: relative;


    // Reverses Row Content (Invert)
    &--reverse {
        @include flex-direction(row-reverse);
    }
}


.row__container {
    @include box-sizing(border-box);
    @include flex-display;
    @include flex(0 1 auto);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    margin: 0 auto;
    max-width: $row__width--full;
    padding: $row__padding--none $row__padding--none $row__padding--none $row__padding--medium;
    width: 100%;


    // Reverses Row Content (Invert)
    &--reverse {
        @include flex-direction(row-reverse);
    }
}
