
// -------------------------------------
//  Row - Structure
// -------------------------------------




//  Row Variables
// -------------------------------------


// Height
$row--height-full: 100vh;
$row--height-default: auto;
$row--height-medium: 700px;
$row--height-small: 400px;


// Width
$row--width-full: 100%;
$row--width-wide: 80%;
$row--width-contained: 1100px;


// Spacing
$row--padding: 30px;




//  Grid (Flex)
// -------------------------------------


.row .row__container {
    @include box-sizing(border-box);
    @include flex-display;
    @include flex(0 1 auto);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    margin: 0 auto;


    // Reverses Row Content (Invert)
    &--reverse {
        @include flex-direction(row-reverse);
    }
}




//  Height & Width Defaults
// -------------------------------------


// Row / Container Height
.row,
.row__container {
    height: $row--height-default;
}


// Container Width
.row__container {
    width: $row--width-full;
}
