
// -------------------------------------
//  Columns - Grid
// -------------------------------------




//  Defaults - Variables
// -------------------------------------

$column--gutter: 20px !default;
$column--offset-value: 5% !default;




//  Grid
// -------------------------------------


// Global Column Styling
.row__column {
    @include box-sizing(border-box);
    @include flex-display;
    @include flex-direction(column);
    @include flex(0 0 auto);
    max-width: 100%;
    padding-left: $column--gutter;
    padding-right: $column--gutter;
    position: relative;
    height: 100%;
    z-index: 2;


    &.vertical-alignment--space-between {
        height: auto;
    }
}


// Column Sizing
.row__column {


    // Remove first column padding
    &:first-child {
        padding-left: 0;
    }


    // Remove last column padding
    &:last-child {
        padding-right: 0;
    }


    // Full Width
    &--full {
        @include flex-basis(100%);
    }


    // 75% Width
    &--three-quarters {
        @include flex-basis(75%);


        &.row__column--offset {
            @include flex-basis(75% + $column--offset-value);
        }
    }


    // 66.66% Width
    &--two-thirds {
        @include flex-basis(66.66666667%);


        &.row__column--offset {
            @include flex-basis(66.66666667% + $column--offset-value);
        }
    }


    // 50% Width
    &--half {
        @include flex-basis(50%);


        &.row__column--offset {
            @include flex-basis(50% + $column--offset-value);
        }
    }


    // 33.33% Width Width
    &--one-third {
        @include flex-basis(33.33333333%);


        &.row__column--offset {
            @include flex-basis(33.33333333% + $column--offset-value);
        }
    }


    // 25% Width
    &--one-quarter {
        @include flex-basis(25%);


        &.row__column--offset {
            @include flex-basis(25% + $column--offset-value);
        }
    }


    // No width grow to fit available space
    &--grow {
        @include flex-grow(1);
    }
}


// Column Offsets
.row__column--offset {


    &-left {
        margin-left: -$column--offset-value;
        padding-right: $column--offset-value;
    }


    &-right {
        margin-right: -$column--offset-value;
        padding-left: $column--offset-value;
    }
}
