
// -------------------------------------
// Footer: Design One
// -------------------------------------




// Row Styling
// -----------------------------


.row__footer--01 {


    // Row Height
    &.row {
        height: $row__height--default;
    }


    // Row Padding
    &.row {
        padding: $row__padding--medium  $row__padding--large;
    }


    // Row Container Width
    .row__container {
        width: $row__width--full;
    }

    .logo-image {
        max-width: 125px;
        margin: 0 auto;
    }
}




// Widget Styling
// -----------------------------
