
// -------------------------------------
// Content: Design One
// -------------------------------------



// Row Styling
// -----------------------------


.row__content--01 {


    // Row Height
    &.row {
        min-height: $row__height--small;
    }


    // Row Padding
    &.row {
        background-size: cover;
    }


    // Row Container Width
    .row__container {
        padding: $row__padding--medium;
        width: $row__width--wide;
    }


    .row__column {
        padding-left: $column__gutter--small;
        padding-right: $column__gutter--small;
    }
}
