
// -------------------------------------
// Content: Design One
// -------------------------------------



// Row Styling
// -----------------------------


.row__content--01 {


    // Row Height
    &.row,
    .row__container {
        min-height: $row__height--small;
    }


    // Row Padding
    &.row {
        background-size: cover;
        padding: $row__padding--large;
    }


    // Row Container Width
    .row__container {
        width: $row__width--contained;
    }


    &.row__overlay:after {
        background: rgba(0,0,0, 0.65);
    }
}




// Widget Styling
// -----------------------------
