
<div class="bk-row  row  row__nav--03  dark">
    <div class="bk-row__container  row__container">

        <div class="row__column  row__column--full  align--middle-center">
            {{widget('companyname', 'headercompanyname', {"business": "profile"})|raw}}
        </div>

        <div class="row__column  row__column--full align--middle-center">
            {{widget('extendednavigation', 'navigation', {
              'align': 'center'
            })|raw}}        
        </div>
    </div>
</div>

{% block scripts %}

    <!-- Nav Menu Script -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('libs/jquery-1.10.2.min.js')}}"><\/script>')
    </script>

    <script>
        // Toggles class open to display/hide the whole navigation
        $( ".navigation-toggle" ).click(function() {
            $( ".bk-extendednavigation" ).toggleClass( "open" );
        });
    </script>

{% endblock %}