
// -------------------------------------
// Navigation: Design Three
// -------------------------------------

//  Media Queries
// -------------------------------------

$break-small: 480px;
$break-large: 768px;

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $break-large) { @content; }
  }
}




// Row Styling
// -----------------------------


.row__nav--03 {

    // Row Height
    &.row,
    .row__container {
        height: $row__height--default;
    }

    .row__container {
        @include respond-to(tablet) {
            @include flex-direction(column-reverse);
        }
    }

    .row__column:first-child {
        padding: 40px;
    }

    .row__column:last-child {
        padding: 0;
    }


    // Row Padding
    &.row {
        padding: 0;
    }


    // Row Container Width
    .row__container {
        width: $row__width--full;
    }

}



// Widget Styling
// -----------------------------

.row__nav--03 {

    // Remove margin from ul nav list and widget

    .navigation-list {
        margin: 0;
        @include respond-to(desktop) {
            padding: 10px 0;
        }
    }


    // Dropdown Menu - Folder Item Parent: Gives arrow

    .item-name--parent:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-left: 4px;
        border: 5px solid transparent;
        border-top-color: #2a313a;
    }

    .item-name--parent:hover:after {
        border-top-color: #2a313a;
    }


    // Folder

    .navigation-list--children {
        left: inherit;
        right: 0;
        width: auto;
        min-width: 200px;
        white-space: normal;
        border: 1px solid #2a313a;
        background-color: #2a313a;
        // Padding for folder list and folder items on desktop
        @include respond-to(desktop) {
            padding: 7px 0;
            .item-name {
                padding: 7px 14px;
            }
        }
        @include respond-to(tablet) {
            width: 100%;
        }
    }


    // Collapsible navigation
    // ----------------------


    .navigation-toggle {
        display: none;
    }

    @include respond-to(tablet) {
        .navigation-body {
            margin-top: 20px;
        }
        .navigation-toggle {
            display: inline-block;
            position: relative;
            height: 44px;
            width: 100%;
            padding: 0 22px;
            text-indent: 1000px;
            overflow: hidden;
            line-height: 0;
            &:before {
                content: '';
                position: absolute;
                width: 26px;
                height: 3px;
                top: 0;
                left: 50%;
                right: 0;
                margin-top: 15px;
                margin-left: -13px;
                background: #2a313a;
                box-shadow: 0 6px 0 #2a313a;
            }
            &:after {
                content: '';
                position: absolute;
                width: 26px;
                height: 3px;
                top: 12px;
                left: 50%;
                right: 0;
                margin-top: 15px;
                margin-left: -13px;
                background: #2a313a;
            }
        }
    
        // Toggle Button Open State
        .open {
            .navigation-toggle {
                &:before {
                    margin-top: 21px;
                    background: #2a313a;
                    box-shadow: none;
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                &:after {
                    content: '';
                    position: absolute;
                    width: 26px;
                    height: 3px;
                    top: 0;
                    left: 50%;
                    right: 0;
                    margin-top: 21px;
                    margin-left: -13px;
                    background: #2a313a;
                    box-shadow: none;
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
            }
            .navigation-toggle:hover {
                &:before,
                &:after {
                    background: #2a313a;
                }
            }
        }
        .navigation-body {
            display: none;
        }
        .open .navigation-body {
            display: block;
        }
        .navigation-item {
            width: 100%;
        }
        .navigation-item .item-name {
            padding: 5px 0 !important;
        }
        .navigation-list--children .item-name {
            padding: 5px 10px !important;
        }
    }
}
