
// -------------------------
//  Variables: Companyname
// -------------------------


$font__companyname--font-family: $font__primary !default;
$font__companyname--font-size: 20px !default;
$font__companyname--line-height: 26px !default;
$font__companyname--font-weight: 400 !default;
$font__companyname--letter-spacing: 0 !default;

$color__companyname--text: $color--darkest !default;
