
// -------------------------------------
// Row Structure: Global
// -------------------------------------




// Row Variables
// -----------------------------


// Background
$row-background-color: #2B3D4B;


// Height
$row-height-default: auto;
$row-height-small: 300px;
$row-height-medium: 600px;
$row-height-large: 100vh;


// Width
$row-width-small: 1024px;
$row-width-medium: 1200px;
$row-width-large: 100%;


// Spacing
$row-padding-small: 50px;
$row-padding-medium: 30px;
$row-padding-large: 0;


// Text Alignment
$text-align-left: left;
$text-align-center: center;
$text-align-right: right;




// Rows
// -----------------------------

.row {


    .container {
        display: flex;
        flex-wrap: nowrap;
        margin: 0 auto;
        position: relative;

        @media #{$tablet-860px} {
            display: block;
        }
    }
}




// Column Variables
// -----------------------------


// Spacing
$column-gutter-small: 20px;
$column-gutter-medium: 40px;
$column-gutter-large: 60px;




// Columns
// -----------------------------

.column {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
    z-index: 1;


    &:first-child {
        margin-left: 0!important;
    }


    &:last-child {
        margin-right: 0!important;
    }


    &.offset {
        z-index: 2;
    }


    &-25 {
        width: 25%;

        @media #{$desktop-1400px} {
            width: 30%;
        }
    }


    &-30 {
        width: 30%;

        @media #{$desktop-1400px} {
            width: 40%;
        }

        @media #{$desktop-1400px} {
            width: 40%;
        }
    }


    &-40 {
        width: 40%;
    }


    &-50 {
        width: 50%;
    }


    &-60 {
        width: 60%;
    }


    &-70 {
        width: 70%;

        @media #{$desktop-1400px} {
            width: 60%;
        }
    }


    &-80 {
        width: 80%;

        @media #{$desktop-1400px} {
            width: 70%;
        }
    }


    &-90 {
        width: 90%;

        @media #{$desktop-1400px} {
            width: 80%;
        }
    }


    &-100 {
        width: 100%;
    }


    @media #{$tablet-860px} {
        width: 100%!important;
    }
}




// Column Alignment
// -----------------------------


// Top Alignment
.top {

    &-left {
        align-items: flex-start;
        justify-content: flex-start;
    }


    &-middle {
        align-items: center;
        justify-content: flex-start;
    }


    &-right {
        align-items: flex-end;
        justify-content: flex-start;
    }
}


// Center alignment
.center {

    &-left {
        align-items: flex-start;
        justify-content: center;
    }


    &-middle {
        align-items: center;
        justify-content: center;
    }


    &-right {
        align-items: flex-end;
        justify-content: center;
    }
}


// Bottom Alignment
.bottom {

    &-left {
        align-items: flex-start;
        justify-content: flex-end;
    }


    &-center {
        align-items: center;
        justify-content: flex-end;
    }


    &--right {
        align-items: flex-end;
        justify-content: flex-end;
    }
}




// Widget Variables
// -----------------------------


// Background
$widget-background-color: white;




// Widgets
// -----------------------------

.widget {
    margin: 20px;
    position: relative;


    &+ .widget {
        margin-top: 25px;
    }


    &-content * {
        max-width: 680px;
    }


    &-image {
        background-repeat: no-repeat;
        background-position: center;
        margin: 0;
    }
}


// Image Widget
.widget-image {


    &.cover {
        background-size: cover;
    }


    &.contain {
        background-size: contain;
    }
}
