
// -------------------------------------
// Content Design One: Stylesheet
// -------------------------------------


.row-design-one {


    // Row Styling
    // -----------------------------

    &.row {
        background-color: $row-background-color;
        padding: $row-padding;
        height: $row-height-large;
        width: $row-width-large;

        @media #{$tablet-860px} {
            height: auto;
        }
    }




    // Column Styling
    // -----------------------------

    .column {
        margin-right: $column-gutter;
    }




    // Widget Styling
    // -----------------------------

    .widget {


        &-image {
            height: 100%;
            width: 100%;

            @media #{$tablet-860px} {
                height: 50vh;
            }
        }


        &-compound-content {
            background-color: $widget-background-color;
            box-shadow: 0 0 40px rgba(0,0,0, 0.3);
            padding: 45px;

            @media #{$tablet-860px} {
                margin: 0 30px 40px;
            }
        }
    }


    // Widget offset value
    .offset {


        .widget-compound-content {
            left: calc(#{- $row-width-large} / 4);

            @media only screen and (max-width: 1024px) {
                left: calc(#{- $row-width-large} / 3);
            }

            @media #{$tablet-860px} {
                left: initial;
                margin-top: -30px;
            }
        }
    }
}
