
<div class="bk-row  row  row__contact--01  light">
    <div class="bk-row__container  row__container">

        <div class="row__column  row__column--half  align--top-right  text__align-left">
            {{widget('content', 'content-contact', {
                content: '
                <h3>Get in touch today</h3>
                <p>For appointments, please send us a message using the contact form with time and date of the appointment needed.</p>'
            })|raw}}
        </div>

        <div class="row__column  row__column--half  align--middle-left">
            {{widget('contactform', 'contact', {
                'text': 'Submit',
                'formTitle': 'Contact Us',
                'email': 'profile'
            })|raw}}
        </div>

    </div>
</div>
