
// -------------------------------------
// Header: Design Two
// -------------------------------------




// Row Styling
// -----------------------------


.row__hero--02 {


    // Row Height
    &.row,
    .row__container {
        min-height: $row__height--full;
    }


    // Row Padding
    &.row {
        background-size: cover;
        padding: $row__padding--none;
    }


    // Row Container Width
    .row__container {
        width: $row__width--full;
    }


    .row__column {
        padding: 0;
    }
}




// Widget Styling
// -----------------------------


.row__hero--02 {

    .widget {
        padding-left: 40px;
        padding-right: 40px;

        &:first-child {
            padding-top: 40px;
        }


        &:last-child {
            padding-bottom: 40px;
        }


        &__image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            width: 100%;
        }
    }


    .compound-widget {
        max-width: 650px;
        text-align: center;

        h1,h2,h3,h4,h5 + * {
            margin-top: 25px;
        }


        .widget:last-child {
            margin-top: 40px;
        }
    }
}
