
// -------------------------------------
// Contact: Design One
// -------------------------------------



// Row Styling
// -----------------------------


.theme-1 {
    .row__contact--01 {
        //background: $color--darkest;


        // Row Height
        &.row,
        .row__container {
            height: $row__height--default;
        }


        // Row Padding
        &.row {
            background-size: cover;
            padding: $row__padding--large;
        }


        // Row Container Width
        .row__container {
            width: $row__width--contained;
        }
    }
}


.theme-2 {
    .row__contact--01 {
        background: $color--lightest;


        // Row Height
        &.row,
        .row__container {
            height: $row__height--default;
        }


        // Row Padding
        &.row {
            padding: $row__padding--large;
        }


        // Row Container Width
        .row__container {
            width: $row__width--contained;
        }
    }
}




// Widget Styling
// -----------------------------


.row__contact--01 {
    [data-widget-type="content"] h2 {
        line-height: 44px;
    }
}


[data-widget-type="contactform"] {
    width: 100%;
}


.contactform {


    &__legend {
        padding: 8px 10px 6px;
    }


    &__label {
        display: block;
        margin-bottom: 5px;
    }


    &__input,
    &__textarea {
        display: block;
        margin-bottom: 30px;
        padding: 10px;
        width: 100%;
    }


    &__textarea {
        min-height: 125px;
    }


    .button {
        padding: 12px 24px;
    }
}


