
<div class="bk-row  row  row__contact--02  dark">
    <div class="bk-row__container  row__container">

        <div class="row__column  row__column--two-thirds  align--top-left">

            {{widget('contactform', 'contact', {
                'text': 'Submit your question',
                'formTitle': 'Do You Have a Question?',
                'email': 'profile'
            })|raw}}

        </div>

        <div class="row__column  row__column--one-third  align--top-left">

            {{widget('content', 'content-openinghours', {
                content: '
                <h3>Opening Hours</h3>
                <ul>
                    <li>Monday - Friday - 6.30am - 11pm</li>
                    <li>Saturday - 8.30am - 11pm</li>
                    <li>Sunday - 10am - 7pm</li>
                </ul>'
            })|raw}}

        </div>

    </div>
</div>
