
<div class="bk-row  row  row__contact--03  light">
    <div class="bk-row__container  row__container">

        <div class="row__column  row__column--two-thirds  align--top-left">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2487.7404351248542!2d-2.561610584233014!3d51.42619457962189!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48718faece37c0b3%3A0xcedbc1322d99e607!2sSouth+Bristol+Sports+Centre!5e0!3m2!1sen!2suk!4v1486641693508" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>

        <div class="row__column  row__column--one-third  align--middle-left">

            {{widget('content', 'content-address', {
                content: '
                <h3>How To Find Us</h3>'
            })|raw}}

            {{widget('companyaddress', 'address', {})|raw}}

        </div>

    </div>
</div>
