
// -------------------------------------
// Navigation: Design One
// -------------------------------------



// Row Styling
// -----------------------------


@import "../../../templates/template-one-colors";


// Colour Mapping
$color-tones: (
    color-light: (
        color__row--background: $color--light,
    ),
    color-accent: (
        color__row--background: $color--accent,
    ),
    color-dark: (
        color__row--background: $color--darkest,
    )
);


@import "../../../framework/global/colors";


// Row Styling
// -----------------------------


.row__nav-01 {


    // Row Height
    &.row,
    .row__container {
        height: $row--height-default;
    }


    // Row Padding
    &.row {
        background: color-tone(color-dark, color__row--background);
        padding: $row--padding-small;
    }


    // Row Container Width
    .row__container {
        width: $row--width-contained;
    }
}



// Widget Styling
// -----------------------------


// Navigation
.navigation-toggle {
    display: none;
    visibility: hidden;
}
