
// -------------------------------------
// Image: Design One
// -------------------------------------



// Row Styling
// -----------------------------


.theme-1 {
    .row__image--01 {
        background: $color--darkest;


        // Row Height
        &.row,
        .row__container {
            min-height: $row__height--default;
        }


        // Row Padding
        &.row {
            padding: $row__padding--none;
        }


        // Row Container Width
        .row__container {
            width: $row__width--full;
        }


        &.row__overlay:after {
            background: rgba(0,0,0, 0.65);
        }
    }
}


.theme-2 {
    .row__image--01 {
        background: $color--light;


        // Row Height
        &.row,
        .row__container {
            min-height: $row__height--small;
        }


        // Row Padding
        &.row {
            padding: $row__padding--none;
        }


        // Row Container Width
        .row__container {
            width: $row__width--full;
        }
    }
}




// Widget Styling
// -----------------------------


// Logo
