// -------------------------
// WIDGETS: Fonecta
// -------------------------



// Fonecta Contact Form
// -------------------------

.fonectacontactform input[type="checkbox"] + label {
    display: inline-block !important;
    vertical-align: middle;
    width: auto;
}



// Fonecta Map
// -------------------------

.fonectamap {
    min-height: 150px;

    .fonectmap {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
    }

    img {
        max-width: none;
    }

    // Map control buttons
    input[type="button"] {
        font-size: 11px;
        padding: 5px;
        line-height: 1.2;
        background: #fff;
        letter-spacing: 0;
        color: #666;
        font-family: sans-serif;
        border: 1px solid #aaa;
        text-shadow: none;
        box-shadow: none;
        width: auto;
    }
}

