
// -------------------------
//  Variables: Forms
// -------------------------




//  Font Properties
// -----------------------------


// Body
$font__form--font-family: $font__body !default;
$font__form--font-size: 16px !default;
$font__form--font-weight: 400 !default;
$font__form--letter-spacing: 0 !default;
$font__form--line-height: 24px !default;
$font__form--text-transform: none !default;


// Label
$font__form-label--font-family: $font__heading !default;
$font__form-label--font-size: 16px !default;
$font__form-label--font-weight: normal !default;
$font__form-label--letter-spacing: 0 !default;
$font__form-label--line-height: 24px !default;
$font__form-label--text-transform: none !default;


// Legend
$font__form-legend--font-family: $font__heading !default;
$font__form-legend--font-size: 16px !default;
$font__form-legend--font-weight: normal !default;
$font__form-legend--letter-spacing: 0 !default;
$font__form-legend--line-height: 24px !default;
$font__form-legend--text-transform: none !default;


// Button
$font__form-button--font-family: $font__body !default;
$font__form-button--font-size: 16px !default;
$font__form-button--font-weight: normal !default;
$font__form-button--letter-spacing: 0 !default;
$font__form-button--line-height: 24px !default;
$font__form-button--text-transform: none !default;




//  Colour Properties
// -----------------------------


// Fieldset
$color__form-fieldset--background: transparent !default;
$color__form-fieldset--border: none !default;


// Legend
$color__form-legend--background: transparent !default;
$color__form-legend--text: $color--darkest !default;


// Label
$color__form-label--background: transparent !default;
$color__form-label--text: $color--dark !default;
$color__form-label--text: $color--dark !default;


// Input
$color__form-input--background: $color--lightest !default;
$color__form-input--border: transparent !default;
$color__form--text: $color--dark !default;


// Button
$color__form-button--background: $color--accent !default;
$color__form-button--background--hover: $color--accent !default;
$color__form-button--text: $color--lightest !default;
$color__form-button--text--hover: $color--lightest !default;




//  Style Properties
// -----------------------------


// Legend
$style__form-legend--border: none !default;
$style__form-legend--box-shadow: none !default;
$style__form-legend--padding: 0 !default;
$style__form-legend--text-shadow: none !default;


// Label
$style__form-label--border: none !default;
$style__form-label--box-shadow: none !default;
$style__form-label--padding: 0 !default;
$style__form-label--text-shadow: none !default;


// Fieldset
$style__form-fieldset--box-shadow: none !default;
$style__form-fieldset--padding: 0 !default;


// Input
$style__form-input--border: none !default;
$style__form-input--box-shadow: none !default;
$style__form-input--outline: none !default;


// Button
$style__form-button--border: $style__button--border !default;
$style__form-button--border-radius: $style__button--border-radius !default;
$style__form-button--box-shadow: $style__button--box-shadow !default;
$style__form-button--outline: $style__button--outline !default;
