
// -------------------------
// Widgets: Forms
// -------------------------




//  Default Variables
// -----------------------------


@import 'form-variables';




//  Forms: Global
// -----------------------------


form {
    padding: $style__form-fieldset--padding;


    // Light
    .light & {
        background: color(color-light, $color__form-fieldset--background);
        @include border($style__form-fieldset--border, color(color-light, $color__form-fieldset--border), $style__form-fieldset--border-direction);
        @include box-shadow($style__form-fieldset--box-shadow  color(color-light, $color__form-fieldset--box-shadow));
    }


    // Accent
    .accent & {
        background: color(color-accent, $color__form-fieldset--background);
        @include border($style__form-fieldset--border, color(color-light, $color__form-fieldset--border), $style__form-fieldset--border-direction);
        @include box-shadow($style__form-fieldset--box-shadow  color(color-accent, $color__form-fieldset--box-shadow));
    }


    // Dark
    .dark & {
        background: color(color-dark, $color__form-fieldset--background);
        @include border($style__form-fieldset--border, color(color-light, $color__form-fieldset--border), $style__form-fieldset--border-direction);
        @include box-shadow($style__form-fieldset--box-shadow  color(color-dark, $color__form-fieldset--box-shadow));
    }
}


fieldset {
    margin: 0;
    padding: 0;
}


legend {
    font-family: $font__form-legend--font-family;
    font-size: $font__form-legend--font-size;
    font-weight: $font__form-legend--font-weight;
    letter-spacing: $font__form-legend--letter-spacing;
    line-height: $font__form-legend--line-height;
    margin: 0 0 vr(1) 0;
    text-transform: $font__form-legend--text-transform;


    // Light
    .light & {
        background: color(color-light, $color__form-legend--background);
        @include box-shadow($style__form-legend--box-shadow  color(color-light, $color__form-legend--box-shadow));
        @include border($style__form-legend--border, color(color-light, $color__form-legend--border), $style__form-legend--border-direction);
        color: color(color-light, $color__form-legend--text);
        text-shadow: $style__form-legend--text-shadow  color(color-light, $color__form-legend--text-shadow);
    }


    // Accent
    .accent & {
        background: color(color-accent, $color__form-legend--background);
        @include box-shadow($style__form-legend--box-shadow  color(color-accent, $color__form-legend--box-shadow));
        @include border($style__form-legend--border, color(color-light, $color__form-legend--border), $style__form-legend--border-direction);
        color: color(color-accent, $color__form-legend--text);
        text-shadow: $style__form-legend--text-shadow  color(color-accent, $color__form-legend--text-shadow);
    }


    // Dark
    .dark & {
        background: color(color-dark, $color__form-legend--background);
        @include box-shadow($style__form-legend--box-shadow  color(color-dark, $color__form-legend--box-shadow));
        @include border($style__form-legend--border, color(color-light, $color__form-legend--border), $style__form-legend--border-direction);
        color: color(color-dark, $color__form-legend--text);
        text-shadow: $style__form-legend--text-shadow  color(color-dark, $color__form-legend--text-shadow);
    }
}


label {
    display: block;
    font-family: $font__form-label--font-family;
    font-size: $font__form-label--font-size;
    font-weight: $font__form-label--font-weight;
    letter-spacing: $font__form-label--letter-spacing;
    line-height: $font__form-label--line-height;
    margin: 0 0 vr(0.5) 0;
    text-transform: $font__form-label--text-transform;


    // Light
    .light & {
        background: color(color-light, $color__form-label--background);
        @include border($style__form-label--border, color(color-light, $color__form-label--border), $style__form-label--border-direction);
        @include box-shadow($style__form-label--box-shadow  color(color-light, $color__form-label--box-shadow));
        color: color(color-light, $color__form-label--text);
        text-shadow: $style__form-label--text-shadow  color(color-light, $color__form-label--text-shadow);
    }


    // Accent
    .accent & {
        background: color(color-accent, $color__form-label--background);
        @include border($style__form-label--border, color(color-accent, $color__form-label--border), $style__form-label--border-direction);
        @include box-shadow($style__form-label--box-shadow  color(color-accent, $color__form-label--box-shadow));
        color: color(color-accent, $color__form-label--text);
        text-shadow: $style__form-label--text-shadow  color(color-accent, $color__form-label--text-shadow);
    }


    // Dark
    .dark & {
        background: color(color-dark, $color__form-label--background);
        @include border($style__form-label--border, color(color-dark, $color__form-label--border), $style__form-label--border-direction);
        @include box-shadow($style__form-label--box-shadow  color(color-dark, $color__form-label--box-shadow));
        color: color(color-dark, $color__form-label--text);
        text-shadow: $style__form-label--text-shadow  color(color-dark, $color__form-label--text-shadow);
    }
}


input,
textarea,
select {
    font-family: $font__form--font-family;
    font-size: $font__form--font-size;
    font-weight: $font__form--font-weight;
    letter-spacing: $font__form--letter-spacing;
    line-height: $font__form--line-height;
    margin: 0 0 vr(1) 0;
    min-height: 40px;
    padding: $style__form-input--padding;
    text-transform: $font__form--text-transform;
    width: 100%;


    // Light
    .light & {
        background: color(color-light, $color__form-input--background);
        @include border($style__form-input--border, color(color-light, $color__form-input--border), $style__form-input--border-direction);
        @include box-shadow($style__form-input--box-shadow color(color-light, $color__form-input--box-shadow));
        color: color(color-light, $color__form--text);
        outline : $style__form-input--outline  color(color-light, $color__form-input--outline);
    }


    // Accent
    .accent & {
        background: color(color-accent, $color__form-input--background);
        @include border($style__form-input--border, color(color-accent, $color__form-input--border), $style__form-input--border-direction);
        @include box-shadow($style__form-input--box-shadow color(color-accent, $color__form-input--box-shadow));
        color: color(color-accent, $color__form--text);
        outline : $style__form-input--outline  color(color-accent, $color__form-input--outline);
    }


    // Dark
    .dark & {
        background: color(color-dark, $color__form-input--background);
        @include border($style__form-input--border, color(color-dark, $color__form-input--border), $style__form-input--border-direction);
        @include box-shadow($style__form-input--box-shadow color(color-dark, $color__form-input--box-shadow));
        color: color(color-dark, $color__form--text);
        outline : $style__form-input--outline  color(color-dark, $color__form-input--outline);
    }


    &:hover {


        // Light
        .light & {
            background: color(color-light, $color__form-input--background--hover);
            @include border($style__form-input--border--hover, color(color-light, $color__form-input--border--hover), $style__form-input--border-direction--hover);
            @include box-shadow($style__form-input--box-shadow color(color-light, $color__form-input--box-shadow--hover));
            color: color(color-light, $color__form--text--hover);
            outline : $style__form-input--outline  color(color-light, $color__form-input--outline--hover);
        }


        // Accent
        .accent & {
            background: color(color-accent, $color__form-input--background);
            @include border($style__form-input--border--hover, color(color-accent, $color__form-input--border--hover), $style__form-input--border-direction--hover);
            @include box-shadow($style__form-input--box-shadow color(color-accent, $color__form-input--box-shadow));
            color: color(color-accent, $color__form--text);
            outline : $style__form-input--outline  color(color-accent, $color__form-input--outline);
        }


        // dark
        .dark & {
            background: color(color-dark, $color__form-input--background);
            @include border($style__form-input--border--hover, color(color-dark, $color__form-input--border--hover), $style__form-input--border-direction--hover);
            @include box-shadow($style__form-input--box-shadow color(color-dark, $color__form-input--box-shadow));
            color: color(color-dark, $color__form--text);
            outline : $style__form-input--outline  color(color-dark, $color__form-input--outline);
        }
    }
}


::-webkit-input-placeholder {
    color: $transparent;
}


::-moz-placeholder {
    color: $transparent;
}


:-ms-input-placeholder {
    color: $transparent;
}


:-moz-placeholder {
    color: $transparent;
}


.button--submit {
    @include border-radius($style__form-button--border-radius);
    font-family: $font__form-button--font-family;
    font-size: $font__form-button--font-size;
    font-weight: $font__form-button--font-weight;
    letter-spacing: $font__form-button--letter-spacing;
    line-height: $font__form-button--line-height;
    text-transform: $font__form-button--text-transform;


    // Light
    .light & {
        background: color(color-light, $color__form-button--background);
        @include border($style__form-button--border, color(color-light, $color__form-button--border), $style__form-button--border-direction);
        @include box-shadow($style__form-button--box-shadow  color(color-light, $color__form-button--box-shadow));
        color: color(color-light, $color__form-button--text);
        outline: $style__form-button--outline  color(color-light, $color__form-button--outline);
    }


    // Accent
    .accent & {
        background: color(color-accent, $color__form-button--background);
        @include border($style__form-button--border, color(color-light, $color__form-button--border), $style__form-button--border-direction);
        @include box-shadow($style__form-button--box-shadow  color(color-accent, $color__form-button--box-shadow));
        color: color(color-accent, $color__form-button--text);
        outline: $style__form-button--outline  color(color-accent, $color__form-button--outline);
    }


    // Dark
    .dark & {
        background: color(color-dark, $color__form-button--background);
        @include border($style__form-button--border, color(color-light, $color__form-button--border), $style__form-button--border-direction);
        @include box-shadow($style__form-button--box-shadow  color(color-dark, $color__form-button--box-shadow));
        color: color(color-dark, $color__form-button--text);
        outline: $style__form-button--outline  color(color-dark, $color__form-button--outline);
    }


    &:hover {


        // Light
        .light & {
            background: color(color-light, $color__form-button--background--hover);
            @include border($style__form-button--border--hover, color(color-light, $color__form-button--border--hover), $style__form-button--border-direction--hover);
            @include box-shadow($style__form-button--box-shadow  color(color-light, $color__form-button--box-shadow--hover));
            color: color(color-light, $color__form-button--text--hover);
            outline: $style__form-button--outline  color(color-light, $color__form-button--outline--hover);
        }


        // Accent
        .accent & {
            background: color(color-accent, $color__form-button--background--hover);
            @include border($style__form-button--border--hover, color(color-light, $color__form-button--border--hover), $style__form-button--border-direction--hover);
            @include box-shadow($style__form-button--box-shadow  color(color-accent, $color__form-button--box-shadow--hover));
            color: color(color-accent, $color__form-button--text--hover);
            outline: $style__form-button--outline  color(color-accent, $color__form-button--outline--hover);
        }


        // Dark
        .dark & {
            background: color(color-dark, $color__form-button--background--hover);
            @include border($style__form-button--border--hover, color(color-light, $color__form-button--border--hover), $style__form-button--border-direction--hover);
            @include box-shadow($style__form-button--box-shadow  color(color-dark, $color__form-button--box-shadow--hover));
            color: color(color-dark, $color__form-button--text--hover);
            outline: $style__form-button--outline  color(color-dark, $color__form-button--outline--hover);
        }
    }
}
