
// -------------------------------------
// Template - Styling
// -------------------------------------




// Colour Variables
// -----------------------------


// Colour Swatch
$color--lightest: #ffffff;
$color--light: #d6d6d6;
$color--accent: #bd0202;
$color--dark: #828282;
$color--darkest: #000000;




// Row Variables
// -----------------------------




// Column Variables
// -----------------------------




// Font Variables
// -----------------------------

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');


$font__primary: Playfair Display;
$font__secondary: Gibson;


// Colour
$color__h1--text: $color--lightest;
$color__h2--text: $color--lightest;
$color__h3--text: $color--lightest;
$color__h4--text: $color--lightest;
$color__p--text: $color--light;


// Heading Two
$font__h2--font-family: $font__primary;
$font__h2--font-size: 28px;
$font__h2--font-weight: 600;
$font__h2--line-height: 36px;


// Body Text
$font__p--font-family: $font__secondary;
$font__p--font-size: 18px;
$font__p--font-weight: 400;
$font__p--line-height: 30px;
$font__p--letter-spacing: 0;


// Body Text
$color__p--text: $color--lightest;
$color__link--text: $color--accent;




// Row Styling
// -----------------------------



// Widget Styling
// -----------------------------


// Templates Styles


// Buttons
$color__button--background: transparent;
$color__button--background--hover: transparent;
$color__button--text: $color--lightest;
$color__button--text--hover: $color--lightest;

$font__button--font-size: 16px;

$style__button--border: 1px solid $color--lightest;
$style__button--border--hover: 1px solid $color--lightest;


// Click to Call
$color__telephone--text: $color--lightest;
$color__telephone--text--hover: $color--lightest;

$font__telephone--font-family: $font__primary;
$font__telephone--font-size: 20px !important;
$font__telephone--font-weight: 500;
$font__telephone--line-height: 26px;
$font__telephone--text-transform: uppercase;

$style__telephone--transition: all, 0.5s, ease;



// Content


// Divider


// Feature


// Form
$color__form-label--text: $color--lightest;
$color__form-input--background: transparent;
$color__form-button--background: transparent;
$color__form-button--background--hover: transparent;

$font__form-label--text-transform: uppercase;
$font__form-label--font-family: $font__secondary;
$font__form-label--font-size: 12px;
$font__form-label--font-weight: 400;
$font__form-label--letter-spacing: 2px;

$style__form-input--border: 1px solid $color--lightest;


// Gallery


// Google Map


// Image


// Linkedin


// Logo


// Navigation
$color__navigation-item--background: transparent;
$color__navigation--text: $color--lightest;

$font__navigation--font-family: $font__secondary;
$font__navigation--font-size: 14px;
$font__navigation--font-weight: 500;
$font__navigation--line-height: 20px;
$font__navigation--letter-spacing: 2px;
$font__navigation--text-transform: uppercase;

$style__navigation-item--border: transparent;
$style__navigation-item--transition: all, 0.5s, ease;


// Profile Data


// Slideshow


// Social Icons
$color__social-icons--text: $color--lightest;

$font__social-icons--font-size: 20px;
$font__social-icons--line-height: 20px;

$style__social-icons--display: none;
$style__social-icons--transition: all, 0.5s, ease;


// Twitter Feed


// Widgets


// Yelp


// Youtube




