
// -------------------------------------
// Template - Styling (Marta)
// -------------------------------------




// Colour Variables
// -----------------------------


// Colour Swatch
$color--lightest: #ffffff;
$color--light: #ECE7DD;
$color--accent: #FEB904;
$color--accent-alt: #fa709a;
$color--dark: #0C495E;
$color--darkest: #082D3A;


// Custom Colours
$color--accent--secondary: #38a8cd;


// Widget Colours
$colors: (
    color-light: (


        // Row
        $color__hero--background: $color--light,


        // Buttons
        $color__button--background: $color--accent,
        $color__button--background--hover: darken($color--accent, 7%),
        $color__button--text: $color--darkest,


        // Companyname
        $color__companyname--text: $color--darkest,


        // Typography
        $color__h1--text: $color--darkest,
        $color__h2--text: $color--darkest,
        $color__h3--text: $color--darkest,
        $color__h4--text: fade-out($color--darkest, .4),
        $color__p--text: fade-out($color--darkest, .4),
        $color__link--text: $color--accent--secondary,


        // Content


        // Divider
        $color__hr--background: $color--light,


        // Navigation
        $color__navigation--text: $color--light,
        $color__navigation-toggle-icon--background: $color--dark,


        // Notch
        $color__content-notch--background: $color--accent,


        // Scroll
        $color__scroll--text: $color--dark,
        $color__scroll--icon: $color--accent,


        // Image
        $color__image--background: $transparent,
        $color__image-title--text: $color--darkest,
        $color__image-description--text: $color--dark,


        // Gallery
        $color__gallery-caption--background: fade-out($color--darkest, .15),
        $color__gallery-title--text: $color--lightest,
        $color__gallery-description--text: $color--light,


        // Form
        $color__form-legend--text: $color--darkest,
        $color__form-label--text: fade-out($color--darkest, .4),
        $color__form-input--background: $transparent,
        $color__form-input--border: fade-out($color--darkest, .65),
        $color__form-input--border--hover: fade-out($color--darkest, .5),
        $color__form--text: fade-out($color--darkest, .25),


        // Social Icons
        $color__social-icons--background: $color--darkest,
        $color__social-icons--text: $color--lightest,
        $color__social-icons--background--hover: lighten($color--darkest, 15%),
        $color__social-icons--text--hover: $color--light
    ),
    color-accent: (


        // Row
        $color__row--background: $color--accent,
        $color__hero--background: $color--accent,


        // Companyname
        $color__companyname--border: fade-out($color--dark, .4),
        $color__companyname--text: $color--darkest,


        // Typography
        $color__h1--text: $color--darkest,
        $color__h2--text: $color--darkest,
        $color__h3--text: $color--darkest,
        $color__h4--text: fade-out($color--darkest, .2),
        $color__p--text: fade-out($color--dark, .1),
        $color__link--text: $color--dark,


        // Content
        $color__content-heading--background: linear-gradient(to bottom, transparent 50%, $color--lightest 50%),


        // Navigation
        $color__navigation--text: $color--lightest,
        $color__navigation-toggle-icon--background: $color--dark,


        // Notch
        $color__content-notch--background: $color--darkest,


        // Buttons
        $color__button--background: $color--darkest,
        $color__button--background--hover: darken($color--darkest, 5%),
        $color__button--text: $color--accent,
        $color__button--text--hover: $color--accent,


        // Scroll
        $color__scroll--text: $color--darkest,
        $color__scroll--icon: $color--dark,


        // Image
        $color__image--background: $color--darkest,
        $color__image-title--text: $color--lightest,
        $color__image-description--text: $color--lightest,


        // Gallery
        $color__gallery-caption--background: fade-out($color--darkest, .15),
        $color__gallery-title--text: $color--lightest,
        $color__gallery-description--text: $color--light,


        // Form
        $color__form-legend--text: $color--darkest,
        $color__form-label--text: fade-out($color--darkest, .4),
        $color__form-input--background: $transparent,
        $color__form-input--border: fade-out($color--darkest, .65),
        $color__form-input--border--hover: fade-out($color--darkest, .5),
        $color__form--text: fade-out($color--darkest, .25),


        // Social Icons
        $color__social-icons--background: $color--darkest,
        $color__social-icons--text: $color--accent,
        $color__social-icons--background--hover: $color--lightest,
        $color__social-icons--text--hover: $color--accent
    ),
    color-dark: (


        // Row
        $color__row--background: $color--dark,
        $color__hero--background: $color--dark,


        // Companyname
        $color__companyname--border: $color--accent,
        $color__companyname--text: $color--lightest,


        // Typography
        $color__h1--text: $color--lightest,
        $color__h2--text: $color--lightest,
        $color__h3--text: $color--lightest,
        $color__h4--text: fade-out($color--lightest, .2),
        $color__p--text: fade-out($color--lightest, .05),
        $color__link--text: $color--accent,


        // Content
        $color__content-heading--background: linear-gradient(to bottom, transparent 50%, fade-out($color--accent, 0.25) 50%),


        // Navigation
        $color__navigation--text: $color--dark,
        $color__navigation-toggle-icon--background: $color--light,


        // Notch
        $color__content-notch--background: $color--accent,


        // Buttons
        $color__button--background: $color--accent,
        $color__button--background--hover: darken($color--accent, 5%),
        $color__button--text: $color--dark,
        $color__button--text--hover: $color--dark,


        // Scroll
        $color__scroll--text: $color--lightest,
        $color__scroll--icon: $color--accent,


        // Gallery
        $color__gallery-caption--background: fade-out($color--lightest, .15),
        $color__gallery-title--text: $color--darkest,
        $color__gallery-description--text: $color--dark,


        // Form
        $color__form-legend--text: $color--lightest,
        $color__form-label--text: fade-out($color--light, .1),
        $color__form-input--background: $transparent,
        $color__form-input--border: $color--lightest,
        $color__form-input--border--hover: $color--lightest,
        $color__form--text: fade-out($color--lightest, .1),


        // Social Icons
        $color__social-icons--background: $color--lightest,
        $color__social-icons--text: $color--dark,
        $color__social-icons--background--hover: $color--lightest,
        $color__social-icons--text--hover: $color--dark
    )
);






// Font Variables
// -----------------------------


@import url('https://fonts.googleapis.com/css?family=Cabin:400,700|Josefin+Sans:700|Josefin+Slab:700');


$font__heading: 'Josefin Sans';
$font__body: 'Cabin';
$font__icon: 'FontAwesome';


// Heading One
$font__h1--font-family: $font__heading;
$font__h1--font-size: 64px;
$font__h1--font-weight: 700;
$font__h1--letter-spacing: 0;
$font__h1--line-height: 1.1;


// Heading Two
$font__h2--font-family: $font__heading;
$font__h2--font-size: 38px;
$font__h2--font-weight: 700;
$font__h2--letter-spacing: 1px;
$font__h2--line-height: 1.2;


// Heading Three
$font__h3--font-family: $font__heading;
$font__h3--font-size: 30px;
$font__h3--font-weight: 700;
$font__h3--letter-spacing: 1px;
$font__h3--line-height: 1.3;


// Heading Four
$font__h4--font-family: $font__heading;
$font__h4--font-size: 20px;
$font__h4--font-weight: 700;
$font__h4--letter-spacing: 0;
$font__h4--line-height: 1.8;


// Body Text
$font__p--font-family: $font__body;
$font__p--font-size: 18px;
$font__p--font-weight: 400;
$font__p--line-height: 1.8;
$font__p--letter-spacing: 1px;


// Navgation
$font__navigation--font-family: $font__body;
$font__navigation--font-size: 19px;
$font__navigation--font-weight: 500;
$font__navigation--line-height: 32px;
$font__navigation--letter-spacing: 0;


// Buttons
$font__button--font-family: $font__body;
$font__button--font-size: 18px;
$font__button--font-weight: 700;
$font__button--letter-spacing: 1px;


// Company Name
$font__companyname--font-family: 'Josefin Slab';
$font__companyname--font-size: 24px;
$font__companyname--line-height: 30px;
$font__companyname--font-weight: 700;
$font__companyname--letter-spacing: 1px;


// Form
$font__form-legend--font-family: $font__heading;
$font__form-legend--font-size: 30px;
$font__form-legend--font-weight: 400;
$font__form-legend--line-height: 38px;

$font__form-label--font-family: $font__heading;
$font__form-label--font-size: 18px;
$font__form-label--font-weight: 400;
$font__form-label--line-height: 26px;


// Gallery
$font__gallery-title--font-size: 22px;
$font__gallery-title--line-height: 30px;
$font__gallery-description--font-size: 17px;
$font__gallery-description--line-height: 24px;




// Style Variables
// -----------------------------


// Button
$style__button--border-radius: 4px;
$style__button--padding: 16px 35px;
$style__button--transition: background 0.5s ease;


// // Content
// $style__content-notch-before--height: 2px;
// $style__content-notch-before--margin: 0 0 20px;
// $style__content-notch-before--width: 50px;


// Gallery
$style__gallery-title: vr(2);


// Form
$style__form-input--border: 2px solid;
$style__form-input--border-direction: bottom;
$style__form-input--padding: 10px 10px 10px 0;


// Social Icons
$style__social-icons--border-radius: 100px;
$style__social-icons--border-radius--hover: 100px;
$style__social-icons--transition: background 0.5s ease;
