
// -------------------------------------
// Template - Styling
// -------------------------------------




// Font Variables
// -----------------------------


$font--primary: Gibson;
$font--secondary: PT Serif;




// Colour Variables
// -----------------------------


$colour--lightest: #ffffff;
$colour--light: #d2d2d2;
$colour--accent: #241aec;
$colour--dark: #110c76;
$colour--darkest: #0c0857;




// Row Variables
// -----------------------------

$row__background-colour: $colour--lightest;
$row__overlay--colour: $colour--dark;




// Column Variables
// -----------------------------

$column--offset-value: 5%;
$column--gutter: 0;




// Widget Variables
// -----------------------------


// Buttons
.light {
    $button--background-color: $color--accent;
    $button--border-color: transparent;
    $button--text-color: $color--light;
}


.accent {
    $button--background-color: $color--accent;
    $button--border-color: transparent;
    $button--text-color: $color--light;
}


.dark {
    $button--background-color: $color--accent;
    $button--border-color: transparent;
    $button--text-color: $color--light;
}


.button {
    @include border-radius(100px);
    @include box-shadow(0 0 40px $colour--darkest);
    @include transition(all 0.35s ease);
}


// Content


// Divider


// Feature


// Gallery


// Google Map


// Image


// Linkedin


// Logo


// Navigation


// Profile Data


// Slideshow


// Social Icons


// Twitter Feed


// Widgets


// Yelp


// Youtube




