
// -------------------------------------
// Template - Styling
// -------------------------------------




// Row Variables
// -----------------------------





// Column Variables
// -----------------------------

$column--offset-value: 5%;
$column--gutter: 0;




// Font Variables
// -----------------------------


$font--primary: Gibson;
$font--secondary: PT Serif;





// Row Styling
// -----------------------------



// Widget Styling
// -----------------------------


// Templates Styles
[data-widget-type="content"] {
    background-color: map-get($color-light, color__container--background);


    h2 {
        color: map-get($color-light, color__h2--text);
    }


    p {
        color: map-get($color-light, color__p--text);
    }
}



// Buttons
.button {
    background-color: map-get($color-light, color__button--background);
    color: map-get($color-light, color__button--text);
    @include border-radius(100px);
    //@include box-shadow(0 0 40px $color--darkest);
    @include transition(all 0.35s ease);


    &:hover {
        background-color: map-get($color-light, color__button--background--hover);
        color: map-get($color-light, color__button--text);
    }
}


// Content


// Divider


// Feature


// Gallery


// Google Map


// Image


// Linkedin


// Logo


// Navigation


// Profile Data


// Slideshow


// Social Icons


// Twitter Feed


// Widgets


// Yelp


// Youtube




