
<div class="bk-row  row  row__content--03  light">
    <div class="bk-row__container  row__container">

        <div class="row__column  row__column--full  align--middle-center">

            {{widget('content', 'content-heading-2', {
                content: '<h2>Gym Offer!</h2>'
            })|raw}}

            {{widget('content', 'content-paragraph-2', {
                content: '<p style="text-align: center;">Sign up to the gym today and you could get a membership for as little as £17.50 per month Its a new year and maybe time for a new you so its time to hit that reset button and start your fitness journey.</p>'
            })|raw}}

            {{widget('button', 'header-button', {
                'text': 'Read more',
                'align': 'widget-align-center'
            })|raw}}
        </div>

    </div>
</div>
