
// -------------------------
//  Variables: Gallery
// -------------------------




//  Font Properties
// -----------------------------


// Title
$font__gallery-title--font-family: $font__heading !default;
$font__gallery-title--font-size: 16px !default;
$font__gallery-title--font-weight: normal !default;
$font__gallery-title--letter-spacing: 0 !default;
$font__gallery-title--line-height: 20px !default;


// Description
$font__gallery-description--font-family: $font__body !default;
$font__gallery-description--font-size: 16px !default;
$font__gallery-description--font-weight: normal !default;
$font__gallery-description--letter-spacing: 0 !default;
$font__gallery-description--line-height: 20px !default;




//  Style Properties
// -----------------------------


// Title
$style__gallery-title--border: none !default;
$style__gallery-title--box-shadow: none !default;
$style__gallery-title--padding: 0 !default;
$style__gallery-title--text-shadow: none !default;


// Description
$style__gallery-description--border: none !default;
$style__gallery-description--box-shadow: none !default;
$style__gallery-description--padding: 0 !default;
$style__gallery-description--text-shadow: none !default;


// Caption
$style__gallery-caption--transition: none !default;
