
<div class="bk-row  row  row__content--01  dark">
    <div class="bk-row__container  row__container">

        <div class="row__column  row__column--one-third  align--middle-left">
            {{widget('content', 'content-about', {
                content: '
                <h2>About Us</h2>
                <p>We have over 20 years of experience in this area of business and we stive to achieve the best.</p>'
            })|raw}}
        </div>

        <div class="row__column  row__column--one-third  align--middle-center">
            {{widget('content', 'content-clients', {
                content: '
                <h2>Our Clients</h2>
                <p>Our Clients range from FTSE 300 companies, to large charitable organisations and loca. businesses.</p>'
            })|raw}}
        </div>

        <div class="row__column  row__column--one-third  align--middle-right">
            {{widget('content', 'content-opening', {
                content: '
                <h2>Opening Times</h2>
                <p>We are open Tuesday to Saturday, and from 8-6pm daily. For appointments please contact us to check availabilty.</p>'
            })|raw}}
        </div>

    </div>
</div>
