
// -------------------------------------
// Content: Design One
// -------------------------------------



// Row Styling
// -----------------------------


.theme-1 {
    .row__content--01 {


        // Row Height
        &.row,
        .row__container {
            min-height: $row__height--default;
        }


        // Row Padding
        &.row {
            background-size: cover;
            padding: $row__padding--large;
        }


        // Row Container Width
        .row__container {
            width: $row__width--contained;
        }


        &.row__overlay:after {
            background: rgba(0,0,0, 0.65);
        }
    }
}


.theme-2 {
    .row__content--01 {
        background: $color--lightest;


        // Row Height
        &.row,
        .row__container {
            min-height: $row__height--default;
        }


        // Row Padding
        &.row {
            padding: $row__padding--large;
        }


        // Row Container Width
        .row__container {
            width: $row__width--contained;
        }
    }
}




// Widget Styling
// -----------------------------
