
// -------------------------------------
// Content: Design One
// -------------------------------------



// Row Styling
// -----------------------------


.row__content-01 {
    background: $color--darkest;


    // Row Height
    &.row,
    .row__container {
        height: $row--height-default;
    }


    // Row Padding
    &.row {
        //background: $color__row--background;
        background-size: cover;
        padding: $row--padding-none;
    }


    // Row Container Width
    .row__container {
        width: $row--width-contained;
    }


    &.row__overlay:after {
        background: rgba(0,0,0, 0.65);
    }
}




// Widget Styling
// -----------------------------


// Logo
