
// -------------------------
// Widgets: General Widget
// -------------------------


// Widget Positioning
.widget {
	position: relative;

    &+ .widget,
    &+ .compound-widget {
        margin-top: vr(1);
    }
}


// Zone Widget Spacing
.widget--zone-widget {
    @include clearfix;
	margin: 0;
    margin-top: vr(1);
	clear: both;
}


// Removes margin for the spacing widget
.widget--zone-widget[data-name="space"] {
	margin-bottom: 0;
}
