
// -------------------------
// Widgets: General Widget
// -------------------------


// Widget Positioning
.widget {
	position: relative;

    &+ .widget,
    &+ .compound-widget {
        margin-top: 20px;
    }
}


// Zone Widget Spacing
.widget--zone-widget {
    @include clearfix;
	margin: 0 0 20px;
	clear: both;
}


// Removes margin for the spacing widget
.widget--zone-widget[data-name="space"] {
	margin-bottom: 0;
}
