
// -------------------------
//  Variables: Social
// -------------------------




//  Font Properties
// -----------------------------


$font__social-icons--font-family: FontAwesome !default;
$font__social-icons--font-size: 16px !default;
$font__social-icons--font-weight: 400 !default;
$font__social-icons--letter-spacing: 0 !default;
$font__social-icons--line-height: 1 !default;
$font__social-icons--text-transform: none !default;




//  Style Properties
// -----------------------------


$style__social-icons--border: none !default;
$style__social-icons--border--hover: none !default;
$style__social-icons--border-radius: 0 !default;
$style__social-icons--border-radius--hover: 0 !default;
$style__social-icons--box-shadow: none !default;
$style__social-icons--box-shadow--hover: none !default;
$style__social-icons--display: inline-block !default;
$style__social-icons--text--display: none !default
$style__social-icons--outline: none !default;
$style__social-icons--padding: 5px 8px !default;
$style__social-icons--transition: none !default;
