
// -------------------------
// Widgets: Social Icons
// -------------------------




//  Default Variables
// -----------------------------


@import 'social-icons-variables';




//  Social Icons
// -----------------------------


// Social List
.social-list {
    margin: 0;
    padding: 0;
}


// Social Item
.social-item {
    display: inline-block;
    margin-right: 10px;
}


// Social Link
.social-link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;


    // Variables
    background-color: $color__social-icons--background;
    border: $style__social-icons--border;
    @include border-radius($style__social-icons--border-radius);
    @include box-shadow($style__social-icons--box-shadow);
    color: $color__social-icons--text;
    display: $style__social-icons--display;
    font-family: $font__social-icons--font-family;
    font-size: $font__social-icons--font-size;
    font-weight: $font__social-icons--font-weight;
    line-height: $font__social-icons--line-height;
    letter-spacing: $font__social-icons--letter-spacing;
    outline: $style__social-icons--outline;
    padding: $style__social-icons--padding;
    text-transform: $font__social-icons--text-transform;
    @include transition($style__social-icons--transition);


    &:hover {
        background-color: $color__social-icons--background--hover;
        border: $style__social-icons--border--hover;
        @include border-radius($style__social-icons--border-radius--hover);
        @include box-shadow($style__social-icons--box-shadow--hover);
        color: $color__social-icons--text--hover;
        cursor: pointer;
    }
}


// Social Name
.social-name {
    display: $style__social-icons--text--display;
}
