
// -------------------------
// Widgets: Feature
// -------------------------


// Headline
.feature__headline {
    color: map-get($color-darkest, color__feature-headline--text);
    font-family: $font__feature-headline--font-family;
    font-size: $font__feature-headline--font-size;
    font-weight: $font__feature-headline--font-weight;
    letter-spacing: $font__feature-headline--letter-spacing;
    line-height: $font__feature-headline--line-height;
    text-transform: $font__feature-headline--text-transform;


    // Possible notches?
    &:after {
        content: "";
        position: relative;
    }
}


// Strapline
.feature__strapline {
    color: map-get($color--darkest, color__feature-strapline--text);
    font-family: $font__feature-strapline--font-family;
    font-size: $font__feature-strapline--font-size;
    font-weight: $font__feature-strapline--font-weight;
    letter-spacing: $font__feature-strapline--letter-spacing;
    line-height: $font__feature-strapline--line-height;
    text-transform: $font__feature-strapline--text-transform;


    // Possible notches?
    &:after {
        content: "";
        position: relative;
    }
}


// Feature Background Image
.feature__background-image {
    min-height: $row--height-small;
}


// Content Wrap
.feature__content-wrap {
    background: $color__feature-content--background;
    border: $color__feature-content--border;
    outline: $color__feature-content--outline;
	padding: $style__feature-content--padding;
}


// Feature Button
.feature__button {
    text-decoration: none;


    // Variables
    background-color: map-get($color-light, color__feature-button--background);
    border: $style__feature-button--border;
    @include border-radius: $style__feature-button--border-radius;
    @include box-shadow: $style__feature-button--box-shadow;
    color: map-get($color-light, color__button--text);
    font-family: $font__feature-button--font-family;
    font-size: $font__feature-button--font-size;
    font-weight: $font__feature-button--font-weight;
    letter-spacing: $font__feature-button--letter-spacing;
    line-height: $font__feature-button--line-height;
    outline: $style__feature-button--outline;
    padding: $style__feature-button--padding;
    position: $style__feature-button--position;
    text-transform: $font__feature-button--text-transform;
    @include transition($style__feature-button--transition);
}
