
// -------------------------
// Widgets: Yelp
// -------------------------



//  Default Variables
// -----------------------------


@import 'yelp-variables';




//  Yelp: Global
// -----------------------------


.yelpreview {
	list-style: none;
	margin: 0;
}

.yelpreview__review-item {
    list-style: none;
}
