
<div class="bk-row  row  row__hero  row__hero--02  light">
    <div class="bk-row__container  row__container">

        <div class="row__column  row__column--half  align--middle-left">

            <div class="widget widget__image  color--gradient  filter--color-splash"  style="background-image:url(https://s3.amazonaws.com/basekit-video/basekit-design/sports-club/bristol-sports-hero.jpg)">
            </div>
        </div>

        <div class="row__column  row__column--half  align--middle-center  vertical-alignment--space-between">

             {{widget('companyname', 'header-companyname', {"business": "Fitness Goals"})|raw}}

            <div class="widget  compound-widget">
                {{widget('content', 'header-content', {
                    content: '<h1>Connecting the worlds athletes.</h1>
                    <h4>Track &amp; analyse performance.</h4>'
                })|raw}}
            </div>

            {{widget('content', 'header-content-two', {
                content: '<a class="scroll-to">Read more</a>'
            })|raw}}

        </div>

    </div>
</div>
