
// -----------------------------
// Framework: Colour Function
// -----------------------------


// Colour Swatch
$transparent: transparent !default;
$color--lightest: #ffffff !default;
$color--light: #d6d6d6 !default;
$color--accent: #bd0202 !default;
$color--dark: #828282 !default;
$color--darkest: #000000 !default;


// $color__social-icons--background: red !default;
// $color__social-icons--text: white !default;
// $color__social-icons--background--hover: blue !default;
// $color__social-icons--text--hover: yellow !default;


// Colour Mapping
// $colors: (
//     color-light: (


//         // Row Background
//         color__row--background: $color--lightest,


//         // // Social Icons
//         // $color__social-icons--background: $color--dark,
//         // $color__social-icons--text: $color--lightest,
//         // $color__social-icons--background--hover: $color--darkest,
//         // $color__social-icons--text--hover: $color--lightest,


//         // Navigation
//         color__navigation--background: $transparent,
//         color__navigation-list--background: $transparent,
//         color__navigation-item--background: $transparent,
//         color__navigation-item--background--hover: $transparent,
//         color__navigation--text: $color--dark,
//         color__navigation--text--hover: $color--darkest,


//         // Click To Call
//         color__telephone--background: red,
//         color__telephone--background--hover: $transparent,
//         color__telephone--text: $color--accent,
//         color__telephone--text--hover: $color--darkest
//     ),
//     color-accent: (


//         // Row Background
//         color__row--background: $color--accent,


//         // // Social Icons
//         // color__social-icons--background: $color--accent,
//         // color__social-icons--text: $color--lightest,
//         // color__social-icons--text--hover: $color--lightest,
//         // color__social-icons--background--hover: darken($color--accent, 10%),


//         // Navigation
//         color__navigation--background: $transparent,
//         color__navigation-list--background: $transparent,
//         color__navigation-item--background: $transparent,
//         color__navigation-item--background--hover: $transparent,
//         color__navigation--text: $color--lightest,
//         color__navigation--text--hover: darken($color--lightest, 10%)
//     ),
//     color-dark: (


//         // Row Background
//         color__row--background: $color--darkest,


//         // // Social Icons
//         // color__social-icons--background: $color--light,
//         // color__social-icons--text: $color--darkest,
//         // color__social-icons--text--hover: $color--darkest,
//         // color__social-icons--background--hover: $color--lightest,


//         // Navigation
//         color__navigation--background: $transparent,
//         color__navigation-list--background: $transparent,
//         color__navigation-item--background: $transparent,
//         color__navigation-item--background--hover: $transparent,
//         color__navigation--text: $color--light,
//         color__navigation--text--hover: $color--lightest
//     )
// );


// // SASS Function
// @function color($color, $widget__variable) {
//     @return map-get(map-get($colors, $color), $widget__variable);
// }
