
// -------------------------------------
//  Framework - Mixins
// -------------------------------------




//  General
// -------------------------------------


// Border
@mixin border($style, $color, $sides) {
    @if ($style != "") {

        @if ($sides == "all") {
            border: $style $color;

        } @else {
            @each $side in $sides {
               @if ($side == 'top' or
                    $side == 'right' or
                    $side == 'bottom' or
                    $side == 'left') {

                    border-#{$side}: $style $color;
                }
            }
        }
    }
}


// Border Radius
@mixin border-radius ($values) {
    -webkit-border-radius: $values;
    border-radius: $values;
}


// Box Shadow
@mixin box-shadow ($values) {
    -webkit-box-shadow: $values;
    box-shadow: $values;
}


// Box Sizing
@mixin box-sizing ($type: border-box) {
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
    box-sizing: $type;
}


// Calc
@mixin calc ($property, $expression) {
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}


// Clearfix
@mixin clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}


// Opacity
@mixin opacity ($value: 0) {
    $value-percentage: $value * 100;

    opacity: $value;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$value-percentage})";
    filter: alpha(opacity=#{$value-percentage});
}


// Transform
@mixin transform ($values) {
    -webkit-transform: $values;
    -ms-transform: $values;
    transform: $values;
}


// Transition
@mixin transition ($values) {
    -webkit-transition: $values;
    transition: $values;
}

// Translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}



//  Flexbox
// -------------------------------------


// Flexbox Display
@mixin flex-display() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}


// Flex
@mixin flex($columns: initial) {
    -webkit-flex: $columns;
    -moz-flex: $columns;
    -ms-flex: $columns;
    flex: $columns;
}


// Flex Wrap
@mixin flex-wrap($wrap: wrap) {
    -webkit-flex-wrap: $wrap;
    -moz-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    flex-wrap: $wrap;
}


// Flex Direction
@mixin flex-direction($direction: row) {
    -webkit-box-orient: $direction;
    -webkit-box-direction: $direction;
    -webkit-flex-direction: $direction;
    -moz-flex-direction: $direction;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}


// Flex Source Order
@mixin flex-order($order: 0) {
    -webkit-box-ordinal-group: $order;
    -webkit-order: $order;
    -moz-order: $order;
    -ms-order: $order;
    -ms-flex-order: $order;
    order: $order;
}


// Flex Grow
@mixin flex-grow($grow: 0) {
    -webkit-flex-grow: $grow;
    -moz-flex-grow: $grow;
    -ms-flex-grow: $grow;
    -ms-flex-positive: $grow;
    flex-grow: $grow;
}


// Flex Shrink
@mixin flex-shrink($shrink: 0) {
    -webkit-flex-shrink: $shrink;
    -ms-flex-negative: $shrink;
    flex-shrink: $shrink;
}


// Flex Shrink
@mixin flex-basis($basis: 0) {
    -webkit-flex-basis: $basis;
    -ms-flex-preferred-size: $basis;
    flex-basis: $basis;
    max-width: $basis;
}


// Justify Content
@mixin justify-content($justify: flex-start) {
    webkit-box-pack: $justify;
    -webkit-justify-content: $justify;
    -moz-justify-content: $justify;
    -ms-justify-content: $justify;
    -ms-flex-pack: $justify;
    justify-content: $justify;
}


// Align Content
@mixin align-content($align: stretch) {
    -webkit-align-content: $align;
    -moz-align-content: $align;
    -ms-align-content: $align;
    -ms-flex-line-pack: $align;
    align-content: $align;
}


// Align Self
@mixin align-self($align: center) {
    -webkit-align-self: $align;
    -moz-align-self: $align;
    -ms-align-self: $align;
    -ms-flex-item-align: $align;
    -ms-flex-align: $align;
    align-self: $align;
}


// Align Items
@mixin align-items($align: stretch) {
    -webkit-align-items: $align;
    -moz-align-items: $align;
    -ms-align-items: $align;
    -ms-flex-align: $align;
    align-items: $align;
}
