
// -----------------------------
// Framework: Typography
// -----------------------------




//  Default Variables
// -----------------------------


@import 'typography-variables';




//  Font Variables
// -----------------------------



h1,
.heading--1 {
    font-family: $font__h1--font-family;
    font-size: $font__h1--font-size;
    font-weight: $font__h1--font-weight;
    letter-spacing: $font__h1--letter-spacing;
    line-height: $font__h1--line-height;
    text-transform: $font__h1--text-transform;


    // Light
    .light & {
        color: color(color-light, $color__h1--text);
    }


    // Accent
    .accent & {
        color: color(color-accent, $color__h1--text);
    }


    // Dark
    .dark & {
        color: color(color-dark, $color__h1--text);
    }
}


h2,
.heading--2 {
    font-family: $font__h2--font-family;
    font-size: $font__h2--font-size;
    font-weight: $font__h2--font-weight;
    letter-spacing: $font__h2--letter-spacing;
    line-height: $font__h2--line-height;
    text-transform: $font__h2--text-transform;


    // Light
    .light & {
        color: color(color-light, $color__h2--text);
    }


    // Accent
    .accent & {
        color: color(color-accent, $color__h2--text);
    }


    // Dark
    .dark & {
        color: color(color-dark, $color__h2--text);
    }
}


h3,
.heading--3 {
    font-family: $font__h3--font-family;
    font-size: $font__h3--font-size;
    font-weight: $font__h3--font-weight;
    letter-spacing: $font__h3--letter-spacing;
    line-height: $font__h3--line-height;
    text-transform: $font__h3--text-transform;


    // Light
    .light & {
        color: color(color-light, $color__h3--text);
    }


    // Accent
    .accent & {
        color: color(color-accent, $color__h3--text);
    }


    // Dark
    .dark & {
        color: color(color-dark, $color__h3--text);
    }
}


h4,
.heading--4 {
    font-family: $font__h4--font-family;
    font-size: $font__h4--font-size;
    font-weight: $font__h4--font-weight;
    letter-spacing: $font__h4--letter-spacing;
    line-height: $font__h4--line-height;
    text-transform: $font__h4--text-transform;


    // Light
    .light & {
        color: color(color-light, $color__h4--text);
    }


    // Accent
    .accent & {
        color: color(color-accent, $color__h4--text);
    }


    // Dark
    .dark & {
        color: color(color-dark, $color__h4--text);
    }
}


p,
.paragraph,
a {
    font-family: $font__p--font-family;
    font-size: $font__p--font-size;
    font-weight: $font__p--font-weight;
    letter-spacing: $font__p--letter-spacing;
    line-height: $font__p--line-height;
}


// Paragraph Colour
p,
.paragraph,
li {


    // Light
    .light & {
        color: color(color-light, $color__p--text);
    }


    // Accent
    .accent & {
        color: color(color-accent, $color__p--text);
    }


    // Dark
    .dark & {
        color: color(color-dark, $color__p--text);
    }
}


// Link Colour
a,
.link {


    // Light
    .light & {
        color: color(color-light, $color__link--text);
    }


    // Accent
    .accent & {
        color: color(color-accent, $color__link--text);
    }


    // Dark
    .dark & {
        color: color(color-dark, $color__link--text);
    }
}




//  Font Defaults
// -----------------------------


// Headings
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
legend,
label,
button {
    margin-top: 0;
     text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


// Type Spacing
p,
.paragraph,
h1,
h2,
h3,
h4 {
    margin-bottom: 0;


    &+ h1,
    &+ h2,
    &+ h3,
    &+ h4 {
        margin-top: 10px;
    }


    &+ p {
        margin-top: 20px;
    }
}




//  Text Alignment
// -----------------------------


// Left Alignment
.text__align-left {
    text-align: left;
}


// Center Alignment
.text__align-center {
    text-align: center;
}


// Right Alignment
.text__align-right {
    text-align: right;
}



//  Widget Alignment
// -----------------------------

.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }


//  Font Icons
// -----------------------------


.icon:before {
    font-family: $font__icon;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


// Facebook Icon
.icon--facebook:before {
    content: "\f09a";
}


// Twitter Icon
.icon--twitter:before {
    content: "\f099";
}


// Pinterest Icon
.icon--instagram:before {
    content: "\f16d";
}
