



//  Variables: Global Fonts
// -----------------------------


// Heading One
$font__h1--font-family: $font--primary !default;
$font__h1--font-size: 42px !default;
$font__h1--line-height: 42px !default;
$font__h1--font-weight: normal !default;
$font__h1--letter-spacing: 0 !default;


// Heading Two
$font__h2--font-family: $font--primary !default;
$font__h2--font-size: 36px !default;
$font__h2--font-weight: normal !default;
$font__h2--line-height: 36px !default;
$font__h2--letter-spacing: 0 !default;


// Heading Three
$font__h3--font-family: $font--primary !default;
$font__h3--font-size: 28px !default;
$font__h3--font-weight: normal !default;
$font__h3--line-height: 28px !default;
$font__h3--letter-spacing: 0 !default;


// Heading Four
$font__h4--font-family: $font--primary !default;
$font__h4--font-size: 20px !default;
$font__h4--font-weight: normal !default;
$font__h4--line-height: 20px !default;
$font__h4--letter-spacing: 0 !default;


// Paragraph
$font__p--font-family: $font--secondary !default;
$font__p--font-size: 16px !default;
$font__p--font-weight: normal !default;
$font__p--line-height: 24px !default;
$font__p--letter-spacing: 0 !default;


// Colours
$color__h1--text: $color--darkest !default;
$color__h2--text: $color--darkest !default;
$color__h3--text: $color--darkest !default;
$color__h4--text: $color--darkest !default;

$color__p--text: $color--dark !default;
$color__link--text: $color--accent !default;